
// base
@import
  "node_modules/normalize.scss/normalize",
  "node_modules/normalize-opentype.css/normalize-opentype.scss",
  "bourbon",
  "base/base", // includes grid-settings, which must be imported before neat
  "neat",
  "base/layouts";

// Vendor
@import
"vendor/flickity",
"vendor/fonts";


// modules
@import
  "modules/article-format",
  "modules/button-group",
  "modules/cards",
  "modules/carousel",
  "modules/events",
  "modules/fonts-fancy",
  "modules/footer",
  "modules/hero",
  "modules/images",
  "modules/layouts",
  "modules/nav-mobile",
  "modules/nav-below-hero",
  "modules/nav-top",
  "modules/snipcart",
  "modules/typography",
  "modules/utilities-accessibility",
  "modules/utilities-iframes",
  "modules/utilities";


  body:before {
    display: none;
  }

  body.grid:before {
    display: block;
  }


.brand {
  font-family: $brand-font-family;
}
  // body.home {
  //   background-color: $brand-background-color;
  //   color: #f1f1f1;
  // }

.text-align-right {
  text-align: right;
}

.strong {
  font-weight: 700;
}
#mfPreviewBarShow, #mfPreviewBar {
  display: none !important;
}

.item-nav {
  color: #ddd;
  padding: .5em;
}

.light, li .light, p .light {
  color: lighten($base-font-color, 15%);
}
// .flickity-enabled:focus .flickity-viewport {
//   outline: thin dotted;
//   outline: 1px auto -webkit-focus-ring-color;
// }

.date {
  color: $color-4;
}

@media screen and (max-width: 480px) {
  .mobile-hide {
    display: none;
  }
}
body {
  //background-color: #fcfcfc;
  background-color: $base-background-color;
}
