{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
  <div class="has-layout layout-articleTK">
  {% block header %}
    <header>
      <h2 class="brand entry-title">
        {% if item.display_title %}
          {{ item.display_title }}
        {% else %}
          {{ item.name }}
        {% endif %}
      </h2>

      {% block header_entry %}{% endblock %}
    </header>
  {% endblock %}
  {# <aside class="">
  {% if item.aside %}
    {{ item.aside|safe }}
  {% endif %}
  </aside> #}
      <article>
        {% block article %}
          <div class="entry-content prose">
            {% block entry_content %}
              {% for month in events_upcoming %}
                {% set events = month.events  %}
                {% set events = events|sort('start_date') %}
                {# <h2><a href="{{ url(month) }}">{{ month.name }}</a></h2> #}
                <div class="cards">
                  {% include "templates/partials/events-format-cards-detailed.html" %}
                </div>
              {% endfor %}

            {% endblock %}
          </div>
        {% endblock %}
      </article>
      {# <aside class="page"> #}
        {# {% if item.aside %}
          {{ item.aside|safe }}
        {% endif %} #}
        {# {% include "templates/partials/programs-list.html" %} #}
      {# </aside> #}
      {% block mailchimp %}
        <div class="row">
          {% include "templates/partials/form-mailchimp-simple.html" %}
        </div>
      {% endblock %}
    </div>
    {% include "templates/partials/prev-next.html" %}
{% endblock %}
