{% extends "templates/partials/base-events.html" %}
{% block entry_content %}
  {% set programs = cms.programs  %}
  {% for object in programs %}
    {% set program = object.name %}
    <h3>{{ object.name }}</h3>
    {% if object.copy %}
      {{ object.copy|safe }}
    {% endif %}
    {% if object._id == '-Jz81xTa_5bBIVLS3g0J' %}
      <a href="/events/">See Events Page for our Full Readers & Writiers Events Listings</a>
    {% endif %}
    {# EVENTS IN PROGRAM #}
      {% for month in cms.events %}
        {% set events = month.events %}
        {% set program_name = events.program %}
        {% for event in events %}
          {% set event_date = event.start_date|date('U') %}
            {% if event.program %}
              {% if event.program.name == program %}
                {% if event_date > current_unix_date %}
                  {% include "templates/partials/events-format-shortlist-programs.html" %}
                  <hr />
                {% endif %}
              {% endif %}
            {% endif %}
        {% endfor %}
      {% endfor %}
  {% endfor %}
{% endblock %}
