<h5 class="h2 white">{{ site.newsletter_copy}}</h5>
<form action="https://visitor.constantcontact.com/d.jsp" method="post" id="mc-embedded-subscribe-form" name="ccoptin" class="validate" target="_blank" novalidate>
  <label for="mce-EMAIL" class="screen-reader-text hide-until-focused" tabindex="11">Email Address </label>
  <input type="email" value="" name="ea" class="required email input fit max-width-2 mx-auto bg-white black" id="mce-EMAIL" placeholder="Enter Your Email Address">

    <div style="position: absolute; left: -5000px;"><input type="text" name="b_55b38b94d1c1feb1d3742d3d2_73b075de74" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="go" id="mc-embedded-subscribe" class="btn btn-outline"></div>

    <input type="hidden" name="m" value="1100690205711">

    <input type="hidden" name="p" value="oi">

</form>
