<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="2DZWA637LXPQW">

  <input type="hidden" name="on0" value="Shipping or Pickup">Shipping or Pickup
    <select name="os0">
	     <option value="Pick up at the Store">Pick up at the Store : $28.95 USD - monthly</option>
	      <option value="Ship to your Door">Ship to your Door : $34.95 USD - monthly</option>
</select>

<input type="hidden" name="currency_code" value="USD">

<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">

<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<!--

subscriptions:
  - subscription:
      name: 'First Editions Book Club'
      t3_duration_unit: M
      p3_duration: 1
      subscription_recurring_time:
      a3_subscription_price: .99
      shipping_charge:
  - subscription:
      name: 'First Editions Book Club: Ship to your Door'
      t3_duration_unit: M
      p3_duration: 1
      subscription_recurring_time: 12
      a3_subscription_price: 1.99
      shipping_charge: 7.00
regenerate: true -->
