<form class="search-form p1 lg-p2 " action="http://www.brooklinebooksmith-shop.com/search/site" method="post" id="search-form-2" accept-charset="UTF-8" target="_blank" style="margin-top: auto;">
  <label class="screen-reader-text" for="edit-keys">Enter terms </label>
    <input type="text" id="edit-keys-2" name="keys" value="" size="20" maxlength="255"  placeholder="Search Shop">
    <input type="hidden" id="edit-submit-2" name="op" value="Search" class="form-submit">
    <input type="hidden" name="get" value="[]">
    <input type="hidden" name="form_build_id" value="form-wqhLsarrv0pkRKdrtbnYXolGUzYAFb4GwWq-Rckdk2w">
    <input type="hidden" name="form_id" value="apachesolr_search_custom_page_search_form">
    <!-- <input type="submit" id="edit-submit" name="op" value="Search our Online Shop" class="form-submit" style="padding:.5em .375em;"> -->
    <button type="submit">
      <!-- <img src="/uploads/site/search-icon.png" alt="Search Icon"> -->
    </button>
</form>