---
layout: default
featured_image_path: '/uploads/booksmith-16x9.jpg'
featured_image_position: 90
page_heading: "“Dedicated to the fine art of browsing.”"
fancy_font: Lato
---
<main class="layout_two_column_wide row">
  <article class="">
    {% include news-blocks.html %}
  </article>
  <aside>
    {% comment %} TODO: exhange this ugly hack {% endcomment %}
    <style media="screen">
      .event {
        display: none;
      }
      .event#event-1,.event#event-2, .event#event-3 {
        display: block;
      }
    </style>
     {% comment %} include events/accordion.html  {% endcomment %}
     {% include events/list-future.html format_output="long" %}
     <a href="/events/"><button>More Events</button></a>
  </aside>
</main>
<div class="" style="min-height:300px;background-color:#f3f3f3;width:100%;clear:both;">
  <div class="has-layout">
    <h2>some stuff here</h2>
  </div>
</div>