---
layout: default
featured_image_path: '/uploads/booksmith-16x9.jpg'
featured_image_position: 90
page_heading:
fancy_font: Lato
---
<main class="layout_two_column_wide row">
  <article class="">
    {% include news-blocks.html %}
  </article>
  <aside>
    {% comment %} TODO: exhange this ugly hack {% endcomment %}
    <style media="screen">
      .event {
        display: none;
      }
      .event#event-1,.event#event-2, .event#event-3 {
        display: block;
      }
    </style>
     {% comment %} include events/accordion.html  {% endcomment %}
     {% include events/list-future.html format_output="long" %}
     <a href="/events/"><button>More Events</button></a>
  </aside>
</main>
<div class="" style="min-height:300px;background-color:#fff;padding:2em 0;border-top:1px solid #f6f6f6;border-bottom:1px solid #f6f6f6;width:100%;clear:both;">
  <div class="has-layout">
    <h3 class="brand">New Arrivals</h3>
      {% assign books = site.books  %}

      {% for book in site.books limit:5 %}
        {% if book.image_path %}

        <img src="{{book.image_path}}" alt="" style="height:300px;float:left;margin-right:32px;"/>
        {% endif %}
      {% endfor %}
  </div>
</div>