

{% if row.related_book_isbn %}





    {% set isbn = row.related_book_isbn %}

    <a href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Dstripbooks&field-keywords=isbn+lookup+{{isbn}}&rh=n%3A283155%2Ck%3Aisbn+lookup+{{ isbn }}" target="_blank">amazon</a> - {{isbn}}
      {# book: {{ isbn }}: <li id='isbn10_{{ isbn }}'> #}

      </li>
    <script type="text/javascript">
    window.onload = function()
{
    function ISBN13toISBN10_{{isbn}}(isbn13) {var start = isbn13.substring(3, 12);var sum = 0;var mul = 10;var i;for(i = 0; i < 9; i++) {sum = sum + (mul * parseInt(start[i]));mul -= 1;}var checkDig = 11 - (sum % 11);if (checkDig == 10) {checkDig = "X";} else if (checkDig == 11) {checkDig = "0";}return start + checkDig;}document.getElementById("isbn10_{{ isbn }}").innerHTML='books: <a href="http://www.amazon.com/dp/' + ISBN13toISBN10_{{isbn}}("{{ isbn }}") +'" title="Amazon" target="_blank" >Amazon</a>';
  }
    </script>







{% endif %}
