<div class="item">
  
<div>
  <small>
    {% include "templates/partials/events-format-dates.html" %}
  </small>
  {% if event.program %}
  <small><strong>
    <div class="event-program">{{ event.program.name }}</div>
  </strong></small>
{% endif %}


</div>

<div class="event-title">{{ event.name}}</div>

{% if event.event_type %}
  <small>
    {% for relation in event.event_type %}
      <span class="{{event_type_slug}}">{{ relation.name }}</span>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </small>
<br />
{% endif %}


{% for relation in event.related_book %}
  {% set editions = relation.editions %}
  <div style="width:180px;margin:.125em auto;"><img src="{{ relation.editions[0].cover_image|imageSize(180, 'auto') }}" ></div>
  {# <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %} #}
{% endfor %}


<hr style="margin-bottom:1em;" />
</div>