{% for row in events %}
  {% set event_date = row.start_date|date('U') %}
  {% if event_date > current_unix_date %}
  <div class="row" {% if row.start_date %}id="event-{{ row.start_date|date('U') }}"{% endif %} style="margin-bottom:6em;">

      {% if row.start_date %}
        <h4>
          {{ row.start_date|date('l, F jS, g:i a') }} -  {% if row.event_name %}<a href="{{ url(month)}}#event-{{ row.start_date|date('U') }} ">{{ row.event_name|markdown|replace('<(?=p)|<(?=/p)/(?=p)|p>', '', 'g') }}</a>{% endif %}
        </h4>
      {% endif %}

      {% if row.program %}
        <div class="row__clear">
          <h5>
            <a href="{{ url(row.program) }}">
              {{ row.program.name }}
            </a>
          </h5>
        </div>
          {% if row.program.copy %}
            <div class="row__clear">
              {{ row.program.copy|safe }}
            </div>
          {% endif %}

      {% endif %}

      {% if row.venue && row.venue != 'In-store' %}
          <div class="row__clear">
            <h5>
              {{ row.venue }}
            </h5>
          </div>
      {% endif %}

      {% if row.related_book_isbn %}
        <div class="" style="float:left;width:25%;padding:0 2em 0 0">
          {% set related_book = cms.books|where('isbn', row.related_book_isbn) %}
            {% for books in related_book %}
              <img src="{{ books.book_embed.thumbnail_url }}" style="width:100%;"/>
            {% endfor %}
        </div>
      {% endif %}


      {% if row.summary %}
      <div class="" {% if row.related_book_isbn %}style="float:left;width:75%;"{% endif %}>
          {{ row.summary|safe }}
        </div>
      {% endif %}

      {# <div class="addthis_sharing_toolbox"></div> #}
      <div class="addthis_sharing_toolbox addthis_default_style "
    {% if row.start_date %}addthis:url="{{ url(month) }}#event-{{ row.start_date|date('U') }}"{% endif %}
        {% if row.event_name %}addthis:title="{{ row.event_name}}"{% endif %}
        ></div>
    </div>
  {% endif %}
{% endfor %}
