{# Set global time #}
{% set now = Date() %}
{% set current_unix_date = now|date('U') %}

{# Declare events #}
{% set events = cms.events %}
{% set events_upcoming = events|sort('_sort_start_date') %}
{% set events_past = events|sort('_sort_start_date', true) %}

{# Set up sorting. "_sort..." is already formatted in unix time #}
{% set events_sort_date = events._sort_start_date %}
{% set event_sort_date = item._sort_start_date %}

{# what is this #}
{% set start_time = item.start_date|date('g:ia') %}
