{% for event in events_upcoming %}
  {% if event.event_type %}
    {% set event_type = event.event_type[0] %}
    {% set event_type_slug = url(event_type)|replace('events', '')|replace('/', '', 'g') %}
  {% endif %}
    {% if event.end_date %}{#  use the end date so events will show until they're over. Only multi-day events have end dates #}
      {% set event_date = event.end_date|date('U') %}
    {% else %}
      {% set event_date = event.start_date|date('U') %}
    {% endif %}
  {% if event_date > current_unix_date %}  {# removed -> event.start_date &&  #}
    <a href="{{ url(event) }}" class="{% if event.event_type %}{{event_type_slug}}{% endif %}{% if getCurrentUrl() == url(event) %} active{% endif %}">
      {% include "templates/partials/events-format-listing.html" %}
    </a>
  {% endif %}
{% endfor %}
