{# //Use ID so we can show the kids section even if the name is changed #}
{% set programs = cms.programs|where('_id', '-Jz825VggDwe3d-_27Br') %}
{% set months = cms.events %}
{% set months = months|sort('publish_date') %}
<ul>
  {% for month in months %}
    {% set events = month.events %}
    {% set program_name = events.program %}
    {% for event in events %}
      {% if event.program.name == 'Kids' %}
        {% include "templates/partials/events-format-shortlist.html" %}
        <hr />
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
