
{% set months = cms.event %}
{% set months = months|sort('publish_date') %}

{% for month in months %}
<ul>
  {% set events = month.events  %}
  {% set events = events|sort('start_date') %}
  {% for row in events %}
    {% set event_date = row.start_date|date('U') %}


    {% if loop.index == 0 %}  {% endif %}

    {% if event_date > current_unix_date %}
    <h6><a href="{{ url(month) }}">{{ month.name }}</a></h6>
      <li>
        <strong>Event Name: </strong>
        {{ row.event_name }}
      </li>
      <li>
        <strong>Start Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
          {{ row.start_date|date('F d Y') }} ({{ event_date }})
      </li>
      <li>
        <strong>Program: </strong>
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(row.program) }}">{{ row.program.name }}</a>
          {{ row.program.copy|safe }}
      </li>

      {{row.venue}}
      <li>
        <strong>Related Book ISBN: </strong>
        {{ row.related_book_isbn }}

        {% set related_book = cms.books|where('isbn', row.related_book_isbn) %}

{% for books in related_book %}

          {{ url(books) }}

          <a href="{{ url(books) }}">link</a>
          <img src="{{ books.book_embed.thumbnail_url }}" style="height:90px;"/>

{% endfor %}


      </li>
      <li>
        <strong>Summary: </strong>
        {{ row.summary|safe }}
      </li>
      <hr />
    {% endif %}
  {% endfor %}
</ul>

{% endfor %}
