{% if event.start_date %}
  <li>
    {{ event.start_date|date('l') }}&nbsp;@&nbsp;{{ event.start_date|date('g:i a') }}&nbsp;<small>(<span class="light">{{ event.start_date|date('M-j') }}</span>)</small>
    </li>
{% endif %}
{% if event.event_name %}
  <li class="brand">
    {{ event.event_name|markdown|replace('<(?=p)|<(?=/p)/(?=p)|p>', '', 'g') }}
<small><a href="{{ url(month) }}#event-{{ event.start_date|date('U') }}">(info)</a></small>
  </li>

{% endif %}
{% if event.program.name %}
  <li>
    <a href="{{ url(event.program) }}">
      {{ event.program.name }}
    </a>
  </li>
{% endif %}
{% if event.venue != 'In-store' %}
  <li>
    {{ event.venue }}
  </li>
{% endif %}
