<div class="item-nav">
  
<div>
  <small>
    {% include "templates/partials/events-format-dates.html" %}
  </small>



</div>

<div class="event-title">
{{ event.name}}

</div>

{% if event.event_type %}
  <small>
    {% for relation in event.event_type %}
      <span class="{{event_type_slug}}">{{ relation.name }}</span>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </small>
<br />
{% endif %}


{% for relation in event.related_book %}
  <em>{{ relation.name }}</em>
  
  {# <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %} #}
{% endfor %}


<hr style="margin-bottom:1em;" />
</div>