<footer class="footer-2" role="contentinfo">
{#
  <div class="footer-info">
    <div class="column-1">
    </div>
    <div class="column-2">
    </div>
    <div class="column-3">
    </div>
  </div>
 #}
  <ul>
    <li><a href="/about-us/">About</a></li>
    <li><a href="/hours-location/">Hours/Location</a></li>
    <li><a href="/events/">Events</a></li>
  </ul>
  <div class="footer-secondary-links">
    <ul>
      <li><a href="/privacy-policy/">Privacy Policy</a></li>
    </ul>
    <ul class="footer-social">
      <li><a href="https://www.facebook.com/brooklinebooksmith">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
        </a></li>
      <li><a href="https://twitter.com/booksmithtweets">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
      </a></li>

    </ul>
  </div>
</footer>
