<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Holiday Gift Guide</h1>
      <p>This space is for whatever's hot right now. Let's figure out if we want book covers, etc, or an image with copy...</p>  
    </div>
  </div>
</div>
<div class="row" style="background-color:#f6f6f6;">
  <img src="http://lh3.googleusercontent.com/jpD7w2YEKaYCOsdQzNuxY9n23U-3aMumAAsas74eSyNmifMC3ezeh8dTWgUl15lMGOZQm69d6Cf6sphm8KC3D2QpDSu5mnTJYA=s300" style="height:130px;padding: 1em;">

</div>