{% set news = cms.global.slideshow %}
<div class="hero">
  <div class="hero-innerf gallery js-flickity" data-flickity-options='{ "cellAlign": "left","imagesLoaded": true, "wrapAround": true, "percentPosition": false, "autoPlay": 7200, "lazyLoad": 3 }'>
  {% for object in news %}
    {% set featured_image = object.featured_image|imageSize(600, 'auto') %}
    {% set content = object.content %}
    <a href="{{ object.link }}" class="gallery-cell" {% if object.featured_image %}style="background-image:url('{{ featured_image }}');background-size:cover;background-repeat:no-repeat;"{% endif %}>
      <!-- <img data-flickity-lazyload="" class="gallery-cell-image" alt="{{title}}"> -->
    {% if content %}
    <div class="content__formatted"{% if object.text_color %} style="color:{{ object.text_color }};"{% endif %}>
        {{ content|markdown|replace('<(?=p)|<(?=/p)/(?=p)|p>', '', 'g') }}
      </div>
    {% endif %}
    </a>
  {% endfor %}
  </div>
</div>
