{% spaceless %}
  <header class="navigation" role="banner" data-search-index="false">
    <div class="navigation-wrapper">
      <div class="brand">
        <h1><a href="/">
          brookline booksmith
        </a></h1>
        <button type="button" class="js-menu-trigger sliding-panel-button">
          MENU
        </button>        
      </div>
      <nav id="js-navigation-menu" role="navigation">
        <ul class="navigation-menu showTK">
          {% include "templates/partials/navigation-links.html" %}
        </ul>
      </nav>
      {# <div class="navigation-tools">
        <div class="search-bar">
          {% include "templates/partials/form-search.html" %}
        </div>
      </div> #}
    </div>
  </header>
{% endspaceless %}