{% set news = cms.news %}
{% set news = news|sort('publish_date', true) %}
<div class="cards">
{% for object in news %}
<a href="{{ url(object) }}" class="card">
  <div class="card-image"{% if object.featured_image %} style="background-image:url('{{ object.featured_image|imageSize(500, 'auto') }}');background-position:center 25%;background-size:cover;"{% endif %}>
    {# {% if object.featured_image %}
      <img src="{{ object.featured_image|imageSize(500, 'auto') }}" alt="">
    {% else %} #}
      <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt=""> -->
      {% if !object.featured_image %}
      <h5 class="brand">  {{ object.name }}</h5>
    {% endif %}
  </div>
  {% if object.featured_image %}
    <div class="card-header">
      <h6 class="brand" style="margin:0;">{{ object.name }}</h6>
    </div>
    {% endif %}
  <div class="card-copy">
    <p>
      {{ object.copy|striptags|truncate(100) }}
    </p>
  </div>
</a>
{% endfor %}

</div>
