{% set news = cms.news %}
{% set news = news|sort('publish_date', true) %}
<div class="cards">
{% for object in news %}
<a href="{{ url(object) }}" class="card">
  <div class="card-image">
    {% if object.featured_image %}
      <img src="{{ object.featured_image|imageSize(500, 'auto') }}" alt="">
    {% else %}
      <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt=""> -->
      <h5>  {{ object.name }}</h5>
    {% endif %}
  </div>
  {% if not object.featured_image %}
    <div class="card-header">
      {{ object.name }}
    </div>
    {% endif %}
  <div class="card-copy">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
  </div>
</a>
{% endfor %}

</div>
