<script src="/static/javascript/dist/scripts.min.js" async></script>
<script type="text/javascript">
  WebFontConfig = {
 google: { families: [ 'Lato:400,300,300italic,400italic,700,700italic,900,900italic:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
<script type="text/javascript">
    (function() {
        var path = '//easy.myfonts.net/v2/js?sid=5594(font-family=URW+Typewriter+ExtraLight)&sid=5595(font-family=URW+Typewriter+Light)&sid=5596(font-family=URW+Typewriter+Regular)&sid=5597(font-family=URW+Typewriter+Medium)&key=FXYWezIvIa',
            protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
            trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
</script>