<script src="/static/javascript/dist/scripts-concatenated.min.js" async></script>

<script type="text/javascript">
//the following can be used on any element to load the script only after the page has loaded
  function downloadJSAtOnload() {
    var element_addthis = document.createElement("script");
    element_addthis.src = "//s7.addthis.com/js/300/addthis_widget.js{% if site.addthis_id %}#pubid={{site.addthis_id}}{% endif %}";
    document.body.appendChild(element_addthis);
  }
  if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
  else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
  else window.onload = downloadJSAtOnload;
</script>
