{% set data = cms.books %}
{% set data = data|sort('publish_date', true) %}
{% for object in data %}
@
---<br />
title: "{{ object.name }}"<br />
isbn: "{{ object.isbn }}"<br />
image_path: "{{ object.book_embed.thumbnail_url|safe  }}"<br />
thumbnail_height: "{{ object.book_embed.thumbnail_height }}"<br />
thumbnail_width: "{{ object.book_embed.thumbnail_width }}"<br />
url: {{ object.book_embed.url }}"<br />
{% if object.cover_image %}cover_image_path: "{{ object.cover_image.url }}"<br />{% endif %}
slug: {{ url(object) |replace('book', '')|replace('/', '', 'g') }}.md<br />
---<br />




<hr />


{% endfor %}
