{% assign base_url = site.base_url %}
{% if page.resetHeroBackgroundTop %}
  {% assign heroBackgroundTop = page.resetHeroBackgroundTop %}
{% else %}
  {% assign heroBackgroundTop = 0.68 %}
{% endif %}
{% if page.resetHeroBackgroundBottom %}
  {% assign heroBackgroundBottom = page.resetHeroBackgroundBottom %}
{% else %}
  {% assign heroBackgroundBottom = 0.27 %}
{% endif %}
  {% assign background_image = page.featured_image_path %}
  {% assign background_image_mobile = page.featured_image_path %}
{% if page.featured_image_path and page.featured_image_path != '' %}

<style type="text/css">
  header.navigation {
    background-color: transparent;
  }
  .gradient {
    background-color: #101010;
    background-image: url({{ background_image_mobile }});
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

  }
  .gradient:hover {
    opacity: 0.98;
    -webkit-transition:opacity 0s ease-in 0s;
    -moz-transition:opacity 0s ease-in 0s;
    transition:opacity 0s ease-in 0s
  }
  .hero {
    {% if page.banner_height %}
      height:{{ page.banner_height }}px;
    {% endif %}
    max-height:90vh;
  }

  body.home .gradient,body.video .gradient, .gradient {
    background: -moz-linear-gradient(top,  rgba(0,0,0,{% if heroBackgroundTop %}{{ heroBackgroundTop }}{% endif %}) 0%, rgba(0,0,0,{% if heroBackgroundBottom %}{{ heroBackgroundBottom }}{% endif %}) 100%), url({{ background_image }}) no-repeat top center;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,{% if heroBackgroundTop %}{{ heroBackgroundTop }}{% endif %})), color-stop(100%,rgba(0,0,0,{% if heroBackgroundBottom %}{{ heroBackgroundBottom }}{% endif %}))), url({{ background_image }}) no-repeat top center;

    background: -webkit-linear-gradient(top,  rgba(0,0,0,{% if heroBackgroundTop %}{{ heroBackgroundTop }}{% endif %}) 0%,rgba(0,0,0,{% if heroBackgroundBottom %}{{ heroBackgroundBottom }}{% endif %}) 100%), url({{ background_image }}) no-repeat top center;

    background: -o-linear-gradient(top,  rgba(0,0,0,{% if heroBackgroundTop %}{{ heroBackgroundTop }}{% endif %}) 0%,rgba(0,0,0,{% if heroBackgroundBottom %}{{ heroBackgroundBottom }}{% endif %}) 100%), url({{ background_image }}) no-repeat top center;

    background: -ms-linear-gradient(top,  rgba(0,0,0,{% if heroBackgroundTop %}{{ heroBackgroundTop }}{% endif %}) 0%,rgba(0,0,0,{% if heroBackgroundBottom %}{{ heroBackgroundBottom }}{% endif %}) 100%), url({{ background_image }}) no-repeat top center;

    background: linear-gradient(to bottom,  rgba(0,0,0,{% if heroBackgroundTop %}{{ heroBackgroundTop }}{% endif %}) 0%,rgba(0,0,0,{% if heroBackgroundBottom %}{{ heroBackgroundBottom }}{% endif %}) 100%), url({{ background_image }}) no-repeat top center;

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#5e000000',GradientType=0 );
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ background_image }}',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ background_image }}',sizingMethod='scale')";
    background-position: top bottom;
    background-position: center 80%;
    {% if page.featured_image_position !='' %}
      background-position: center {{ page.featured_image_position }}%;
    {% else %}
      background-position: center center;
    {% endif %}
    background-size:cover;
  }
   .background-fixed {
      background-attachment: fixed;
    }
</style>
{% endif %}