<div class="entry-content">

  {% if page.image_path and page.image_path != '' %}
    <img src="{{ page.image_path }}" alt="{{ page.title }} featured image" style="max-width:100%;" class="clearfix"/>

  {% endif %}

  {% if page.lede %}
    <div class="lede">
      {{ page.lede |markdownify }}
    </div>
  {% endif %}

  {% if page.show_featured_image_in_post and page.show_featured_image_in_post == true %}
    <img src="{{ page.featured_image_path }}" alt="{{ page.title }} Featured Image" style="max-width:100%;margin:bottom:2em;" />
  {% endif %}

  <div class="prose">
    {{ content }}
  </div>

  {% if page.category %}
    <div class="cards">
      {% for object in category_posts %}
        {% include  _format-blog-posts.html %}
      {% endfor %}
    </div>
  {% endif %}

</div>
