
<a href="{{ object.url }}" class="p2 bg-white border" id="{{ object.url | slugify }}">

{% if object.featured_image_path and object.featured_image_path != '' %}
  <div class="card-image"



    style="background-image:url('{{ object.featured_image_path }}');background-position:center 25%;background-size:cover;"



    >
    {% unless object.featured_image_path != '' or object.featured_image_path %}
    {% if object.title %}
      <h4 class="brand">
        {{ object.title | markdownify | replace: '<p>', '' | replace: '</p>', '' }}
      </h4>
    {% endif %}
    {% endunless %}
  </div>
{% endif %}
  {% comment %}
  if object.featured_image_path
    <div class="card-header">
      <h6 class="brand" style="margin:0;">{{ object.title }}</h6>
    </div>
     endif
  {% endcomment %}
  <div class="card-copy">
    {% if object.title %}
      <h3 class="brand" style="margin-bottom:.125em;">
        {{ object.title | markdownify | replace: '<p>', '' | replace: '</p>', '' }}
      </h3>
    {% endif %}
    <p class="caption" style="margin-top:1em;">posted {{ object.date | date: "%B %d" }}{% if object.staff %},
        {% capture related_staff %}/staff/{{ object.staff }}/{% endcapture %}
        {% assign theauthor = site.staff | where: 'url', related_staff %}
        {% assign post_author = theauthor[0].title %}
         by <strong>{{ post_author }}</strong>
      {% endif %}
    </p>
    {% if object.description and object.description != '' %}
      <p>
        {{ object.description | markdownify | strip_html | truncatewords: 90, '…' }}
      </p>
    {% endif %}
  </div>
</a>