{% assign title = page.title  | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines  %}
<!-- Featured Image -->
{% if page.featured_image_path %}
  {% assign featured_image_path = page.featured_image_path %}
  {% assign title = page.title  | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines  %}
{% endif  %}
{% if page.program  %}
  {% assign program = site.programs | where_exp: 'item', 'item.slug == page.program' | first %}
  {% if program.featured_image_path %}
    {% assign featured_image_path = program.featured_image_path %}
    {% assign title = ''  %}
  {% endif  %}
{% endif  %}

<!-- Title -->
<div class="{% if featured_image_path %}min-height-390 {% endif %}md-mx3 lg-mx3 clearfix fit bg-cover bg-no-repeat bg-center h2 mt2" style="{% if featured_image_path %}background-image:url('{{ featured_image_path | remove: '/uploads' | prepend: site.image_url }}?blend64=OTk5&bm=multiply&w=1220q%3D65');{% endif %}{% if page.banner_height %}min-height: {{ page.banner_height | append: 'px' }};{% endif %}">
  <!-- Map -->
  {% if page.show_map == true %}
    <iframe width="1375" height="425" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.994813435259!2d-71.12388518459608!3d42.34263394419454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e379bfdb681bc1%3A0x279c60f655491995!2sBrookline+Booksmith!5e0!3m2!1sen!2sus!4v1442837004017"></iframe>
  {% else  %}
    <!-- Title -->
    {% unless page.hide_title_over_banner == true %}
      <div class="p3">
        <h1 class="special font-family-brand center lg-h00{% if page.featured_image_path %} text-shadow  near-white{% endif %}">
          {{ title }}
        </h1>
      </div>
    {% endunless %}
  {% endif  %}
</div>
