{% if page.title %}
  {% assign title = page.title  | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines %}
{% endif %}
{% if page.url contains'/hours-location/' %}
  <div class="mw-100 cf" data-search-index="false" style="background:none;height:465px;">    
    <iframe width="1600" height="425" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.994813435259!2d-71.12388518459608!3d42.34263394419454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e379bfdb681bc1%3A0x279c60f655491995!2sBrookline+Booksmith!5e0!3m2!1sen!2sus!4v1442837004017"></iframe>    
  </div>  
{% else %}
  <div class="cb mw-100 ma0 bg-cv bg-center"{% if page.featured_image_path %} style="min-height:370px;background-image:url('{{ page.featured_image_path | remove: '/uploads' | prepend: site.image_url }}?w=1220q=65&bm=multiply&blend64=Nzc3');background-repeat:no-repeat;"{% endif %}>  
    <div class="mw4 bg-white-70">
      <h1 class="w4 p2 special lh-solid font-family-brand tc ts-1TK f2">
        {{ title }}
      </h1>  
    </div>
  </div>
{% endif %}
