<!-- Sharingbutton Facebook -->
<a class="text-decoration-none inline-block" href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsharingbuttons.io" target="_blank" aria-label="">
  <div aria-hidden="true" class="">
    <img src="/assets/images/facebook.svg">
  </div>
</a>

<!-- Sharingbutton Twitter -->
<a class="text-decoration-none inline-block" href="https://twitter.com/intent/tweet/?text=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking.&amp;url=http%3A%2F%2Fsharingbuttons.io" target="_blank" aria-label="">
  <div aria-hidden="true" class=""><!-- resp-sharing-button__icon resp-sharing-button__icon--solid -->
    <img src="/assets/images/twitter.svg">
  </div>
</a>

<!-- Sharingbutton Instagram -->
<a class="text-decoration-none inline-block" href="https://instagram.com" target="_blank"> 
  <div aria-hidden="true" class=""> 
    <img src="/assets/images/Instagram-v051916_opt.png" style="height:24px;">
  </div>
</a>