{% assign bestsellers = page[include.type] %}
{% assign cover_classes = 'fit col-12 pr2 m0' %}
{% assign limit = include.limit %}
{% for book in bestsellers limit:limit %}
  {% assign books = site.books | where: 'isbn', book %}
  {% for object in books  %}
    {% if object.image_path and object.image_path != '' %}
      {% capture image %}{{ object.image_path }}{% endcapture %}
    {% else %}
      {% capture image %}{{ site.images_domain }}/{{ object.isbn }}.jpg{% endcapture %}
    {% endif %}
      <a href="{{ site.shop_domain }}/book/{{ object.isbn }}" target="_blank" class="{{ include.image_classes }}">
        <img class="{{ cover_classes }}" src="{{ image }}" alt="cover for {{ object.title }}"/>
      </a>
  {% endfor %}
{% endfor %}
