{% if object.image_path and object.image_path !='' %}
  <img class="image-small" src="{{ object.image_path }}"  class="fit center col-12 box-shadow-small-black" alt="{{ event_title }} image" />
{% endif %}

{% if object.program %}
  {% unless page.collection == 'programs' %}
    {% assign program = site.programs | where_exp: 'item', 'item.slug == object.program' | first %}
      {% if program.image_path %}
        <img class="image-small" src="{{ program.image_path }}"  class="fit center col-12 box-shadow-small-black" alt="{{ event_title }} image"/>
      {% endif %}
  {% endunless %}
{% endif %}

{% if related_books %}
  {% for book in related_books %}
    {% assign related_book = site.books | where: 'slug', book %}
      {% for book in related_book %}
        {% if book.image_path %}
          {% assign image_path =  book.image_path %}
          <a href="{{ object.url }}">
            <img class="mb2 pb0 mt1 fit center inline-block" src="{{ image_path }}" alt="{{ book.title }} image_path{{ the_isbn }}"  />
          </a>
        {% elsif book.isbn %}
        {% capture image_path %}{{ site.images_domain }}/{{ book.isbn }}.jpg{% endcapture %}
          <a href="{{ object.url }}">
            <img class="mb2  pb0 fit center inline-block" src="{{ site.images_domain }}/{{ book.isbn }}.jpg" alt="{{ object.title }} {{ the_isbn }} image_cdn"  />
          </a>
        {% endif %}
      {% endfor %}
  {% endfor %}
{% endif %}
