{% comment %} FORMAT DATES {% endcomment %}
  {% capture start_at %}
  <!-- Whitespace added for readability -->
  {{ page.start_at | date: "%A" }}
  {% assign d = page.start_at | date: "%-d" %}
  {% assign m = page.start_at | date: "%B" %}
  {% case m %}
    {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
    {% when 'September' %}Sept.
    {% else %}{{ page.start_at | date: "%b" }}.
    {% endcase %}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th
    {% endcase %} {{ page.start_at | date: " %I:%M %p" | replace: ' 0', '' | downcase}}
  {% endcapture %}
{% capture event_title %}{{ page.title }}{% endcapture %}
{% assign related_books_isbn = page.book_isbn or related_books = page.related_books %}
<div class="card event" id="event-{{count}}">
  <div class="card-header">
    <div class="flagged">
      {% if start_at %}
        <span class="date h2">{{ start_at }}</span>
      {% endif %}
    </div>
    {% if page.ticketed %}
      <div class="ticketed">
        Ticketed Event
      </div>
    {% endif %}
  </div>
  <div class="card-header">
    {% if page.book_category or page.program %}
      <h5>
        {% if page.book_category %}
          {{page.book_category}}
        {% comment %}
        elsif page.program
          capture related_program/programs/{{ page.program }}/endcapture
          assign program = site.programs | where: 'url', related_program
          assign program_title = program[0].title
          {{ program_title }}
         {% endcomment %}
        {% endif %}
      </h5>
    {% endif %}
  </div>

  <div class="card-copy">
    {% comment %}
      looking for events with books. using the book_isbn value
      Using "...size > 0" to capture null values and entries where no field is present
      size, oddly, returns "8" where there is only one isbn (which is 13 digits)
    {% endcomment %}
    {% if page.image_path and page.image_path !='' %}
      <div class="" style="float:left:margin-right:1em;">
        <img class="image-small" src="{{ page.image_path }}" alt="{{ event_title | markdownify | strip_html | escape }} image" />
      </div>
    {% endif %}
    {% if related_books !='' or related_books_isbn.size > 0 %}
      {% assign image_classes = 'inline-block lg-left'  %}
      <div class="lg-left lg-mr2">
        {% comment %}<!-- TODO: this section: related_books_isbn can be deleted in the future when we are no longer displaying events that use ISBN for related books-->{% endcomment %}
        {% if related_books_isbn %}
          {% for isbn in related_books_isbn %}
            {% if isbn != '' %}
              {% assign related_books = site.books | where: 'isbn', isbn %}
              {% for book in related_books %}
                {% if book.image_path %}
                {% assign image_path =  book.image_path %}
                  <a href="{{ site.shop_domain }}/book/{{ book.isbn }}" target="_blank">
                    <img class="{{ image_classes }}" src="{{ image_path }}" alt="Book cover image_path{{ the_isbn }}" />
                  </a>
                {% elsif book.isbn %}
                  {% capture image_path %}{{ site.images_domain }}/{{ book.isbn }}.jpg{% endcapture %}
                  <a href="{{ site.shop_domain }}/book/{{ book.isbn }}" target="_blank">
                    <img class="{{ image_classes }}" src="{{ image_path }}" alt="Book Cover {{ the_isbn }} image_cdn" />
                  </a>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% else %}
          {% assign related_books = page.related_books %}
            {% include events/event-images-individual.html %}
        {% endif %}

      </div>
    {% endif %}

    {% if page.content %}
      {{ page.content | markdownify }}
    {% endif %}
  </div>

  <div class="card-footer">
    <div class="card-footer-content">

      <!-- Go to www.addthis.com/dashboard to customize your tools -->


<div class="addthis_sharing_toolbox addthis_default_style"
data-url="{{ page.url }}"
data-title="{% if page.title %}{{ page.title | remove: '*' }}{% endif %}"
data-media="{{ image_path }}"
>


      <div style="float:right;margin-right:1em;">
        {% include events/add-to-calendar-individual.html %}
      <!-- {% comment %}  {% endcomment %} -->
      </div>
      {% comment %}
        <div class="addthis_sharing_toolbox addthis_default_style "{% if start_at %}addthis:url="{{ site.url }}/events/#event-{{ start_at }}"{% endif %}{% if event.title %} addthis:title="{{ event.title }}"{% endif %}>
        </div>
     {% endcomment %}
    </div>
  </div>
</div>
