{% assign related_books = object.related_books %}
<div class="relative card event col col-12 sm-col-12 md-col-4 lg-col-3 bg-white border border-silver rounded mb2" id="event-{{count}}">

  <div class="card-header bg-primary-color text-on-primary-color h5 px2 py1 mb2">
    {% if start_at %}
    <time>
      <span class="inline-block">{{ object.start_at | date: "%A %m/%d" }}</span>
      <span class="right-align ml3 inline-block">{{ object.start_at | date: "%l:%M %p" }}</span>
    </time>
    {% endif %}
    {% if object.ticketed %}
      <div class="btn btn-primary">
        Ticketed Event
      </div>
    {% endif %}
  </div>

  <div class="card-copy flexTK px2 mb3 col-12 clearfix">
    {% comment %}
      looking for events with books. using the book_isbn value
      Using "...size > 0" to capture null values and entries where no field is present
      size, oddly, returns "8" where there is only one isbn (which is 13 digits)
    {% endcomment %}
    <div class="col col-12">
       
       {% include events/event-images.html %}

      {% if object.book_category or object.program %}
        <h5>
          {% if object.book_category %}
            {{object.book_category}}
          {% comment %}
          elsif object.program
            capture related_program/programs/{{ object.program }}/endcapture
            assign program = site.programs | where: 'url', related_program
            assign program_title = program[0].title
            {{ program_title }}
           {% endcomment %}
          {% endif %}
        </h5>
      {% endif %}

      {% if object.title  %}
        <a href="{{ object.url }}" class="h5 dark-gray block mb3 clearfix black hover-gray">
          {{ object.title | markdownify | remove: '<p>' | remove: '</p>'  }}
        </a>
      {% endif %}
    </div>
  </div>

  <!-- footer -->
  <div class="col-12 clearfix absolute bottom-0 left-0">
    <div class="center mb1">
       {% include events/add-to-calendar.html %}
    </div>
    {% comment %}
      <!--
      <div class="addthis_sharing_toolbox addthis_default_styleTK lg-absolute lg-bottom-0 lg-left-0 mb2 ml2"
      data-url="{{ site.url }}/{{ object.url }}"
      data-title="{% if object.title %}{{ object.title | remove: '*' }}{% endif %}"
      data-media="{{ image_path }}"
      >
      </div>-->
    {% endcomment %}
  </div>
  <!-- //footer -->
</div>
