{% comment %} FORMAT DATES {% endcomment %}
  {% capture start_at %}
  <!-- Whitespace added for readability -->
  {{ event.start_at | date: "%A" }}
  {% assign d = event.start_at | date: "%-d" %}
  {% assign m = event.start_at | date: "%B" %}
  {% case m %}
    {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
    {% when 'September' %}Sept.
    {% else %}{{ event.start_at | date: "%b" }}.
    {% endcase %}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th
    {% endcase %} {{ event.start_at | date: " %I:%M %p" | replace: ' 0', '' | downcase}}
  {% endcapture %}

{% comment %} format expandable event title TODO: we may not need this {% endcomment %}
{% if event.title %}
  {% assign event_title = event.title | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines %}
{% endif %}

{% assign venue = site.venues | where: 'name', 'In-store' %}




{% if include.format == 'short' %}
  <li>
    <small class="date">{{start_at}}</small><br />
    <span class="event_title">
      {{ event_title }}
    </span>
  </li>
  <hr />
{% else %}
  {% include events/output-format-cards.html %}
{% endif %}