
{% assign name = object.subscription.name %}
{% assign t3_duration_unit = object.subscription.t3_duration_unit %}
{% assign p3_duration = object.subscription.p3_duration | default: '1' %}
{% assign subscription_recurring_time = object.subscription.subscription_recurring_time  %}
{% assign a3_subscription_price = object.subscription.a3_subscription_price %}
{% assign shipping_charge = object.subscription.shipping_charge %}
{% capture total_price %}{% if shipping_charge %}{{ a3_subscription_price | plus: shipping_charge }}{% else %}{{ a3_subscription_price }}{% endif %}{% endcapture %}

<h5>{{ name }}</h5>
<h6>${{ a3_subscription_price | remove: '.' | remove: '0' }} per month, or ${{ total_price | remove: '.' | remove: '0' }} delivered</h6>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="paypal" id="paypal_form_{{ forloop.index }}">

{% comment %} Redirection Pages {% endcomment %}
<input type="hidden" value="{{ site.url }}/thank-you/" name="return" />
<input type="hidden" value="{{ site.url }}/canceled/" name="cancel_return" />

{% comment %} Business identification {% endcomment %}
<input type="hidden" name="business" value="{{ site.paypal_email }}" />

{% comment %} What type of button
 https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/Appx_websitestandard_htmlvariables/#id08A6HF00TZS
{% endcomment %}
<input type="hidden" name="cmd" value="_xclick-subscriptions">

{% comment %} what are we selling {% endcomment %}

<input type="hidden" name="item_name" value="{{ name }}" />
<input type="hidden" name="item_number" value="febc_{{ forloop.index }}" />

{% comment %} no note. "For Subscribe buttons, always set no_note to 1." {% endcomment %}
<input type="hidden" name="no_note" value="1" />

{% comment %} Require an address {% endcomment %}


<input type="hidden" name="no_shipping" value="2" id="shipping_charge" />


{% comment %} Recurring Payments variables https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/Appx_websitestandard_htmlvariables/#id08A6HI00JQU
also:
https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/subscribe_buttons/#id08ADFK00KJZ
{% endcomment %}
<input type="hidden" name="currency_code" value="USD">

{% comment %}
{% if total_price %}
  <input type="hidden" name="a3" value="{{ total_price }}">
{% endif %}

 {% endcomment %}

{% if p3_duration %}
  <input type="hidden" name="p3" value="{{ p3_duration }}">
{% endif %}
{% if t3_duration_unit %}
  <input type="hidden" name="t3" value="{{ t3_duration_unit }}">
{% endif %}

{% comment %}  subscription payments recur {% endcomment %}
<input type="hidden" name="src" value="1">

{% comment %} Recurring times. Number of times that subscription payments recur. Specify an integer with a minimum value of 2 and a maximum value of 52. Valid only if you specify src="1". IF YOU DON't Specify, the subscription will continue until canceled.
{% endcomment %}

{% comment %}
{% if subscription_recurring_time %}
  <input type="hidden" name="srt" value="{{ subscription_recurring_time }}">
{% endif %}
 {% endcomment %}

<p>
	To subscribe to our SFE program, just make your choices below and then hit the Subscribe button.
</p>

<p class="row__clear">
	<small style="color: #000;">Choose a subscription for either a Pickup Plan (29.00/month) or a Delivery Plan (36.00/month) by selecting a button below.</small>
</p>

<div class="button-group row__clear">

	<label>
		 <input type="radio" name="a3" value="{{ a3_subscription_price }}" id="pick-up" checked>
		 <span class="button-group-item">Pickup Plan</span>
	 </label>
	 <label>
 		 <input type="radio" name="a3" value="{{ total_price }}" id="ship">
 		 <span class="button-group-item">Delivery Plan</span>
 	 </label>
</div>

<p class="row__clear">
	<small style="color: #000;">Now, choose how long you'd like to subscribe for yourself (or as a gift) by selecting one of the button options below.</small>
</p>

 <div class="button-group row__clear">
   <label>
     <input type="radio" name="srt" value="" checked>
     <span class="button-group-item">Ongoing</span>
   </label>
	 <label>
     <input type="radio" name="srt" value="12">
     <span class="button-group-item">12 Months</span>
   </label>
   <label>
     <input type="radio" name="srt" value="6">
     <span class="button-group-item">6 Months</span>
   </label>
	 <label>
     <input type="radio" name="srt" value="3">
     <span class="button-group-item">3 Months</span>
   </label>

 </div>

<br />


{% comment %} allows subscribers to sign up for new subscriptions and modify their current subscriptions {% endcomment %}
<input type="hidden" name="modify" value="1">



{% if book_latest.title %}
  <input type="hidden" name="starting_book" value="{{ book_latest.title | slugify }}">
{% endif %}






<button type="submit" href="javascript: submitform()" class="button button-list">
Subscribe
	<!-- {{ name }} - ${{ total_price }} -->
</button>


</form>
<p style="margin-top:2em;">
	<small>You can cancel at any time, by clicking <a href="/first-editions-book-club-cancelation/">here</a>.</small>
</p>
