<div style="display:none;background-color:#f6f6f6;border:1px solid #777;margin:3em auto;">

object: {{ object }}<br />

<h6>data-plan-id</h6>
{% assign data-plan-id = object.subscription.name | slugify %}
{{ data-plan-id }}

<h6>data-plan-name</h6>
{% assign data-plan-name = object.subscription.name %}
{{ data-plan-name }}

<h6>data-plan-url</h6>
{% capture data-plan-url %}{{ site.url }}{{ page.url }}{% endcapture %}
{{ data-plan-url }}

<h6>data-plan-interval</h6>
<small>The interval of the recurring payments. Possible values are Day, Week, Month or Year</small><br />
{% assign data-plan-interval = object.subscription.interval %}
{{ data-plan-interval }}


<h6>data-plan-amount</h6>
{% assign subscription_price = object.subscription.subscription_price %}
{% assign shipping_charge = object.subscription.shipping_charge %}
{% capture data-plan-amount %}{% if shipping_charge %}{{ subscription_price | plus: shipping_charge }}{% else %}{{ subscription_price }}{% endif %}{% endcapture %}
subscription_price: {{ subscription_price }} <br />
shipping_charge: {{ shipping_charge }}<br />
data-plan-amount: {{ data-plan-amount }} <br />


<h6>data-plan-interval-count</h6>
<small>If you want a plan where recurring payments will occur each 2 weeks, you could set it to 2 and set data-plan-interval to Week</small><br />
{% assign = data-plan-interval-count = object.subscription.interval-count | default: '1' %}
{{ data-plan-interval-count }}

</div>


<button
  {% if shipping_charge %}id="shipping-plan"{% endif %}
  class="snipcart-add-plan"
  data-plan-id="{{ data-plan-id }}"
  data-plan-name="{{ data-plan-name }}"
  data-plan-url="{{ data-plan-url }}"
  data-plan-interval="{{ data-plan-interval }}"
  data-plan-amount="{{ data-plan-amount }}"
  data-plan-interval-count="{{ data-plan-interval-count }}">
  {{ data-plan-name }}
</button>

<small>
  ${{ data-plan-amount }}
    {% if shipping_charge %}
      ({{ subscription_price }} + {{ shipping_charge }} shipping)
    {% endif %}
</small>


{% if shipping_charge %}

<button style="display:none"
  class="snipcart-add-item"
  data-item-id="shipping-plan"
  data-item-name="First Edition Book Club Delivery"
  data-item-url="{{ data-plan-url }}"
  data-item-amount="0.00" />
</button>

{% endif %}
