{% assign past_selections = site.first-edition-books %}
{% assign past_selections = past_selections | sort: 'selection_date' 'last' | reverse %}
{% if past_selections %}
    {% for book in past_selections  %}
      {% assign selection_start = book.selection_date | date: "%Y%m%d" %}
      {% if selection_start <= current_date %}
        <p>
          <a href="{{ site.shop_domain }}/book/{{ book.isbn }}" target="_blank" >
            <strong>
              <em>
                {{ book.title }}
              </em>
            </strong>
          </a>
          {% if book.selection_date %}
            (
              {{ book.selection_date | date: '%B, %Y' }}
            )
          {% endif %}
          {% if book.author %}
            <br />
            {{ book.author }}
          {% endif %}
        </p>
      {% endif %}
    {% endfor %}
{% endif %}
