{% for book in books  %}
{% assign selection_start = book.selection_date | date: "%Y%m%d" %}
{% comment %} Only show future events, i.e. where the start date is greater than current {% endcomment %}
{% if selection_start >= current_date %}
  <div class="" style="width:13em;float:left;margin-right:2em;">
    {% if book.selection_date %}
      <h5>{{ book.selection_date | date: '%B, %Y' }}</h5>
    {% endif %}
    {% if book.image_path %}
      <img src="{{ book.image_path }}" alt="" style="max-width:13em;" /><br />
    {% endif %}
    {% if book.author %}
      <h6>
        {{ book.author }}
      </h6>
    {% endif %}
  </div>
  {% endif %}
{% endfor %}
