<a href="{{ object.url }}" class="card" id="{{ object.title | slugify }}">
  <div class="card-image"
    {% if object.featured_image_path %}
    style="background-image:url('{{ object.featured_image_path }}');background-position:center 25%;background-size:cover;"
    {% elsif object.image_path %}
      style="background-image:url('{{ object.image_path }}');background-position:center 25%;background-size:cover;"
    {% endif %}
    >
    {% unless object.featured_image_path %}
      <h5 class="brand">{{ object.name }}</h5>
    {% endunless %}
  </div>
  {% comment %}
  {% if object.featured_image_path %}
    <div class="card-header">
      <h6 class="brand" style="margin:0;">{{ object.title }}</h6>
    </div>
    {% endif %}
  {% endcomment %}
  <div class="card-copy">
    <h3 class="brand" style="margin-bottom:.125em;">{{ object.title }}</h3>
    <p>posted {{ object.date | date: "%B %d" }}{% if object.staff %},
        {% capture related_staff %}/staff/{{ object.staff }}/{% endcapture %}
        {% assign theauthor = site.staff | where: 'url', related_staff %}
        {% assign post_author = theauthor[0].title %}
         by <strong>{{ post_author }}</strong>
      {% endif %}
    </p>
    <p>
      {% if object.excerpt %}
        {{ object.excerpt | markdownify |strip_html | truncatewords: 90, '…' }}
      {% endif %}
    </p>
  </div>
</a>