<form role="search" action="http://www.brooklinebooksmith-shop.com/" method="post">
  <input type="search" placeholder="Enter Search" />
  <button type="submit" name="op">
    <img src="/static/images/search-icon.png" alt="Search Icon">
  </button>
  <input type="hidden" name="form_build_id" value="form-NxaEpUiF7MN8jBLXJKbOkIzWYm3D6WBBwxnQPxtPmPY" />
  <input type="hidden" name="form_id" value="search_block_form" />

</form>

{% comment %}

.///
<form action="/search/site/nomad" method="post" id="search-block-form" accept-charset="UTF-8"><div><div class="container-inline">
      <h2 class="element-invisible">Search form</h2>
    <div class="form-item form-type-textfield form-item-search-block-form">
  <label class="element-invisible" for="edit-search-block-form--2">Search </label>
 <input title="Enter the terms you wish to search for." placeholder="title, author, keyword or ISBN" type="search" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" class="form-text" />
</div>
<div class="item-list"><ul class="aba-advanced-search-links"><li class="first last"><a href="/search/advanced_search">Advanced Search</a></li>
</ul></div><div class="form-actions form-wrapper" id="edit-actions--2">

<input type="submit" id="edit-submit--3" name="op" value="Search" class="form-submit" />
</div>
<input type="hidden" name="form_build_id" value="form-NxaEpUiF7MN8jBLXJKbOkIzWYm3D6WBBwxnQPxtPmPY" />
<input type="hidden" name="form_id" value="search_block_form" />
</div>
</div></form>
 {% endcomment %}