<style media="screen">
  form,  form button {
  display: inline-block;
  }
</style>

<div class="row">

 <hr />
  {% assign subscriptions = page.subscriptions %}
  {% for object in subscriptions %}

    {% assign name = object.subscription.name %}
    {% assign duration_unit = object.subscription.duration_unit %}
    {% assign duration = object.subscription.duration %}

    {% assign subscription_price = object.subscription.subscription_price %}
    {% assign shipping_charge = object.subscription.shipping_charge %}
    {% capture total_price %}{{ subscription_price | plus: shipping_charge }} {% endcapture %}


{% comment %}
  <div style="padding: 1em;background-color:#f6f6f6;border:1px solid #777;margin:3em auto;">
    <h6>Definitions (button attributes)</h6>
    <ul>
      <li>object: {{ object }}</li>
      <li>name: {{ object.subscription.name }}</li>
      <li>term: {{ object.subscription.term_months }}</li>
      <li>subscription_price: {{ subscription_price }}</li>
      {% if shipping_charge %}<li>shipping_charge: {{ shipping_charge }}</li>{% endif %}
      <li>total_price: {{ total_price }}</li>
    </ul>
  </div> {% endcomment %}

{% include forms/paypal-subscription.html %}

  {% endfor %}







</div>


<div class="row">
  <h3>Selections</h3>
  {% for book in site.first-edition-books %}


    <div class="" style="width:13em;float:left;margin-right:2em;">
        {% if book.selection_date %}
          <h5>{{ book.selection_date | date: '%B, %Y' }}</h5>
        {% endif %}
      {% if book.image_path %}
        <img src="{{ book.image_path }}" alt="" style="max-width:13em;" /><br />
      {% endif %}
      {% if book.author %}
        <h6>
          {{ book.author }}
        </h6>
      {% endif %}
    </div>



  {% endfor %}
</div>
