

<div class="row">

  {% assign subscriptions = site.first-edition-book-club-subscriptions %}
  {% for object in subscriptions %}

    <a
      style="margin-top:-2em;text-align:right;"
      href="#"
      class="snipcart-add-item"
      data-item-id="{{ object._id}}"
      data-item-name="{{ object.name }}"
      data-item-price="{{ object.sale_price}}"
      data-item-weight="20"
      data-item-url="{{ object.url }}"
      data-item-description="{{ object.content }}"
    >
      <button type="button" name="button" class="special">
        Buy {{ object.title }}
      </button>
    </a>
    <small>
      ${{ object.price }}
      {% if object.shipping_charge %}
        {% if object.shipping_charge < 0.01 %}
          &nbsp;Free Shipping
        {% endif %}
      {% endif %}
    </small>
    <hr />
  {% endfor %}







</div>


<div class="row">
  <h3>Selections</h3>
  {% for book in site.first-edition-books %}


    <div class="" style="width:13em;">
      {% if book.image_path %}
        <img src="{{ book.image_path }}" alt="" style="max-width:13em;" /><br />
      {% endif %}
      <h6>{{ book.title }}</h6>
    </div>



  {% endfor %}
</div>