{% assign books = site.first-edition-books | sort: 'selection_date' 'last' | reverse %}
{% assign book_latest = books[0] %}

<style media="screen">
  form,  form button {
  display: inline-block;
  }
</style>

<div class="row">


  <!-- //// -->

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="56W2W843YRAAN">
  <table>
  <tr><td><input type="hidden" name="on0" value="maximum price">maximum price</td></tr><tr><td>You can be billed up to $39.95</select> USD</td></tr>
  </table>
  <table>
  </table>
  <table><tr><td align=center><i>Sign up for</i></td></tr><tr><td><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_auto_billing_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"></td></tr></table>
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>

<h6>end</h6>
  <!-- //// -->

 <hr />
  {% assign subscriptions = page.subscriptions %}
  {% for object in subscriptions %}

    {% assign name = object.subscription.name %}
    {% assign t3_duration_unit = object.subscription.t3_duration_unit %}
    {% assign p3_duration = object.subscription.p3_duration %}
    {% assign subscription_recurring_time = object.subscription.subscription_recurring_time %}
    {% assign a3_subscription_price = object.subscription.a3_subscription_price %}
    {% assign shipping_charge = object.subscription.shipping_charge %}
    {% capture total_price %}{% if shipping_charge %}{{ a3_subscription_price | plus: shipping_charge }}{% else %}{{ a3_subscription_price }}{% endif %}{% endcapture %}



{% comment %}
  <div style="padding: 1em;background-color:#f6f6f6;border:1px solid #777;margin:3em auto;">
    <h6>Definitions (button attributes)</h6>
    <ul>
      <li>object: {{ object }}</li>
      <li>name: {{ object.subscription.name }}</li>
      <li>term: {{ object.subscription.term_months }}</li>
      <li>subscription_price: {{ subscription_price }}</li>
      {% if shipping_charge %}<li>shipping_charge: {{ shipping_charge }}</li>{% endif %}
      <li>total_price: {{ total_price }}</li>
    </ul>
  </div> {% endcomment %}

{% include forms/paypal-subscription.html %}

  {% endfor %}

<div class="row">
  <h6>Subscription payments processed by</h6>
<img src="https://www.paypalobjects.com/webstatic/en_US/logo/pp_cc_mark_74x46.png" alt="Subscribe now with PayPal" />
</div>



</div>


<div class="row">


  <h3>Selections</h3>
  {% for book in books  %}


    <div class="" style="width:13em;float:left;margin-right:2em;">
        {% if book.selection_date %}
          <h5>{{ book.selection_date | date: '%B, %Y' }}</h5>
        {% endif %}
      {% if book.image_path %}
        <img src="{{ book.image_path }}" alt="" style="max-width:13em;" /><br />
      {% endif %}
      {% if book.author %}
        <h6>
          {{ book.author }}
        </h6>
      {% endif %}
    </div>



  {% endfor %}
</div>
