  {% comment %} Determine if we're limiting the output to a particular program {% endcomment %}
{% if include.program %}
  {% assign events = (site.events | where: "program", include.program ) %}
{% else %}
  {% assign events = site.events %}
{% endif %}
{% comment %} Determine if the output will be short format, or long {% endcomment %}
{% assign format_style = include.format_output %}
{% for event in events | sort: 'start_at' %}
  {% assign current_date = site.time | date: "%Y%m%d" %}
  {% assign event_date = event.start_at | date: "%Y%m%d" %}
  ,{% comment %} Only show future events, i.e. where the start date is greater than current {% endcomment %}
  {% if event_date >= current_date %}
    {% include events/format-output.html format=format_style  %}
  {% endif %}
{% endfor %}
