  {% comment %} Determine if we're limiting the output to a particular program {% endcomment %}
{% if include.program %}
  {% assign events = (site.events | where: "program", include.program) %}
{% comment %} if no program specified in the include, then show all the events {% endcomment %}
{% else %}
  {% assign events = site.events %}
{% endif %}
{% comment %} Determine if the output will be short format, or long by what's passed through the include {% endcomment %}
{% assign format_style = include.format_output %}
{% assign count = '0' %}
{% assign events = events | sort: 'start_at' %}
{% for event in events %}
  {% unless event.published == false %}
    {% assign current_date = site.time | date: "%Y%m%d" %}
    {% assign event_date = event.start_at | date: "%Y%m%d" %}
    {% comment %} Only show future events, i.e. where the start date is greater than current {% endcomment %}
    {% if event_date >= current_date %}
    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
      {% include events/output.html format=format_style  %}
    {% endif %}
  {% endunless %}
{% endfor %}