{% comment %} FORMAT DATES {% endcomment %}
  {% capture start_at %}
  <!-- Whitespace added for readability -->
  {{ event.start_at | date: "%A" }}
  {% assign d = event.start_at | date: "%-d" %}
  {% assign m = event.start_at | date: "%B" %}
  {% case m %}
    {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
    {% when 'September' %}Sept.
    {% else %}{{ event.start_at | date: "%b" }}.
    {% endcase %}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th
    {% endcase %} {{ event.start_at | date: " %I:%M %p" | replace: ' 0', '' | downcase}}
  {% endcapture %}

{% comment %} format expandable event title TODO: we may not need this {% endcomment %}
{% if event.title %}
  {% assign event_title = event.title | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines %}
  {% capture event_title_formatted %}
    <h5 class="brand{% if room_for_image %} with_book{% endif %}{% if row.event_name|size > '70' %} smaller{% endif %}">
      <a href="#event-{{ event_date }}">
        {{ event_title }}
      </a>
    </h5>
  {% endcapture %}
{% endif %}



{% assign venue = site.venues | where: 'name', 'In-store' %}

{% assign related_books_isbn = event.book_isbn %}







  {% if include.format == 'long' %}
  {% include events/output-format-cards.html %}
{% else %}
  <li>
    <small class="date">{{start_at}}</small><br />
    <span class="event_title">
      {{ event_title }}
    </span>
  </li>
  <hr />
{% endif %}