<div class="card event" id="event-{{count}}">

  <div class="card-header">




    {% comment %} capture event category {% endcomment %}
    {% if event.book_category %}
      {% capture category_url %}/genre/{{ event.book_category }}/{% endcapture %}
      {% assign book_category = site.book_categories | where: 'url', category_url    %}
        {% assign book_category_title = book_category[0].title %}
              <div class="flagged">{{ book_category_title }}</div>
    {% endif %}

    



    {% comment %} capture programs {% endcomment %}
    {% if event.program %}
      {% capture related_program %}/programs/{{ event.program }}/{% endcapture %}
      {% assign program = site.programs | where: 'url', related_program    %}
        {% assign program_title = program[0].title %}
        <div class="flagged">{{ program_title }}</div>
      {% endif %}






    {% if event.ticketed %}
      <div class="ticketed">
        Ticketed Event
      </div>
    {% endif %}
  </div>

  <div class="card-header">
    {% if start_at %}
      <span class="date">{{ start_at }}</span>
    {% endif %}
    {% if event.title  %}
      <div class="event_title">
        {{ event_title }}
      </div>

    {% endif %}
  </div>

  <div class="card-copy">
    {% comment %}
      looking for events with books. using the book_isbn value
      Using "...size > 0" to capture null values and entries where no field is present
      size, oddly, returns "8" where there is only one isbn (which is 13 digits)
    {% endcomment %}

    {% if related_books_isbn.size > 0 %}
      <div class="" style="float:left:margin-right:1em;">
        {% comment %}  {% endcomment %}
        {% for isbn in related_books_isbn %}
          {% if isbn %}
            {% assign related_books = site.books | where: 'isbn', isbn %}
            {% for book in related_books %}
              {% if book.image_path %}
                 <img src="{{ book.image_path }}" alt="{{ book.title }}" style="width:auto;height:14em;float:left;margin-right:1em;margin-bottom:2em;" />
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if event.content %}
      {{ event.content | markdownify }}
    {% endif %}
  </div>

  <div class="card-footer">
    <div class="addthis_sharing_toolbox addthis_default_style "{% if start_at %}addthis:url="{{ site.url }}/events/#event-{{ start_at }}"{% endif %}{% if event.title %} addthis:title="{{ event.title }}"{% endif %}>
    </div>
  </div>

  </div>