article.hentry {
  padding-bottom: 6em;
  margin:auto;
  overflow: hidden;
  header {
    margin-bottom: .5em;
  }
  .items { // in
    img {
      max-height: 15em;
      float:left;
      margin: .75em 1.5em .75em 0;
      padding-bottom: 1em;
      &[alt~="img-on-left"] {
      }
      &[alt~="img-on-right"] {
        float:right;
        margin: .75em 0 .75em 1.5em;
      }
      &[alt~="full-img"] {
        float:none;
        max-height: none;
        margin: .75em auto 1.25em auto;
      }

      @include media($sm-dn) {
        // on small screens make the image fill the width of the screen to
        // avoid awkwardness
        width: 100%;
        float: none;
        clear: both;
        max-height: 30em;
        margin: .25em 0;
      }
    }
    h3 {
      font-family: $brand-font-family;
      //margin-top: 3em;
    }
    hr {
      @extend .row;
      border-top-color: #eee;
      margin: 4em 0 8em 0;
    }
    //  .item {
    //   min-height: 18em;
    //   clear:both;
    //   padding: 1.5em;
    // }
  }
  img {
    max-width: 100%;
  }
    @include media($md-up) {
    max-width: 100%;
  }
}

aside {
  font-size: .875em;
  a {
    color: $action-color;
    @include word-wrap;
    &:hover {
      color: #333;
    }
  }
  h6 {
    font-weight: normal;
    img {
      height:2em;
      vertical-align:middle;
    }
    font-family: $brand-font-family;
  }
  hr {
      border-color: lighten($sidebar-color-background, 5%);
  }

}

aside.top.content-aside {
  background-color: $sidebar-bottom-color-background;//$sidebar-top-color-background;
  border-bottom-right-radius: 3px;
  color: black;
}

aside.bottom .content-aside {
  background-color: $sidebar-bottom-color-background;
  border-bottom-left-radius: 3px;
}
