$card_padding: 0 ($base-spacing / 1.5) 0 ($base-spacing / 1);
$card_padding: 0 2em 0 2em;
.cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.card, a.card {
  @include flex-basis(36em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  //////////////////////////////////////////
  ////////////// border: $card-border;                    remove the border for cleanliness - uncomment to return it
  /////////////////////
  //box-shadow: 0 2px 4px darken($base-background-color, 7%);
  //cursor: pointer;
  //margin: 0 0 $base-spacing 0;
  margin: $base-spacing 0;
  position: relative;
  //overflow: hidden;
  // @include media($lg-up) {
  //   margin: 0 $card-margin $base-spacing $card-margin;
  // }

  .card-image {
    //overflow: hidden;
    height: 180px;

    //max-height: 180px;
    overflow: hidden;

    position: relative;
    color: white;
    //background-image: url('/static/images/background_books_294456_1.png');
    background-image: url('/static/images/bookshelves.jpg');
    background-color: $card-background;
    background-repeat: repeat;
    a {
      color: white;
    }


    h5, h4, h3 {
      text-align: center;
      position: absolute;
      width: 87.5%;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      color:#fff;
      //font-size: 1rem;
      @include media($lg-up) {}
    }

    .smaller {
      font-size: .875rem;
      @include media($lg-up) {
        font-size: 1.0125rem;
      }
    }
    .with_book {
      width: 50%;
      left: 68%;
      transform: translate(-50%, -50%);
    }

    img {
      @include transition (all 0.2s ease-in-out);
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      //width: 100%;
      opacity: 1;
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    //border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    //font-weight: bold;
    line-height: 1.5em;
    //////padding: 0 ($base-spacing / 1.5) 0 ($base-spacing / 1.5);
    padding: $card_padding;
    clear: both;
    font-size: .9375em;
    .flagged, .ticketed {
      border-radius: 0 0 3px 3px;
      margin-bottom: 2em;
      padding: .75em 1em;
      //box-shadow: 1px 1px 3px #777;
    }

    .flagged {
      background-color: $blue-lighter;
      color: white;
      float: left;
    }
    .ticketed {
      background-color: $action-color;
      color: white;
      float: right;
    }
  }

  .card-footer {
    @include transition (all 0.2s ease-in-out);
    //background-color: tomato;//$card-header-background;
    //border-bottom: $card-border;
    border-radius: 0 0 $base-border-radius $base-border-radius;
    //font-weight: bold;
    line-height: 1;
    height: $card-footer-height;

    @include clearfix;
    width: 100%;
    clear: both;
    padding: $card_padding;
    paddint-top:2em;
    @include row;
    .card-footer-content {
      //position: absolute;
      //bottom:0;
    }
    .addthis_sharing_toolbox {
      float: right;
    }
  }

  .card-copy {
    //font-size: 0.9375em;
    line-height: 1.5em;
    padding: $card_padding;
    margin-bottom: $card-footer-height; // to make room for the footer, which is absolutely positioned
    p {
      font-size: 0.875rem;
      margin: 0 0 ($base-spacing / 2);
      color: $base-font-color;
      img {
        //max-height: 225px;
      }
    }
    img {
      //max-height: 225px;
    }
  }

  &:focus,
  &:hover {
    //cursor: pointer;

    img {
      //opacity: $card-image-hover-opacity; this doesn't look good
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}
