.has-layout {
  @include outer-container;
}

.has-layout__wide {
  @include outer-container(90%);
}

.has-layout__full-width {
  @include outer-container(100%);
}

.layout-three-column {
  aside, article {
    @include span-columns(12 of 12);
    padding: 1.5em;
  }
  @include media($lg-up) {
    aside {
      @include span-columns(2.5 of 12);
    }
    aside.bottom {
      @include omega();
    }
    article.hentry {
      padding: 3em 0;
      @include span-columns(7 of 12);
    }
  }
}
.home {
  main {
    @include media($sm-up) {
      @include outer-container();
      @include pad(3rem);
    }
  }
}

////////////////////////////////////////////////////////////
.layout-posts, .has-layout {
  clear: both; //shouldn't need these - TODO: Test node_modules/node-neat/node_modules/bourbon-neat/app/assets/stylesheets/grid/_outer-container.scss
  @include clearfix; //shouldn't need these - TODO: Test
  @include outer-container;
  //max-width: 96%;
  max-width: $small-screen-max-width;
  @include media($xl-up) {
    max-width: $max-width;
  }
}
.layout_two_column_wide {
  @include layout_two_column_wide;
}
.layout-article {
  @include layout_two_column;


  article {
    @include media($lg-up) {
      padding-bottom: 4em;
    }
  }
  header, .entry-content {
    padding: 0 2em;

  @include media($lg-up) {
    padding: 0;
  }
  }
}

.row {
  clear: both;
  @include clearfix;
  //@include outer-container(60%);
  @include outer-container();
  margin: 4em auto;
}

.row__clear-bottom {
  clear: both;
  @include clearfix;
  //@include outer-container(60%);
  @include outer-container();
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6em;
}

.row__clear {
  @include clearfix;
  width: 100%;
  clear: both;
}
.boxes {
  background-color: #fff;
  color: #555;
  padding: 1em;
}

.boxes-2-across {
  margin-bottom: 2em;
  img {
    width:100%;
  }
  @include span-columns(12 of 12);
  @include media($lg-up) {
    @include span-columns(6 of 12);
    @include omega(2n);
  }
}

.boxes-2-layers {
  margin-bottom: 2em;
  img {
    width:100%;
  }
  @include span-columns(12 of 12);
  @include media($lg-up) {
    @include span-columns(6 of 12);
    @include omega(3n);
  }
}
.boxes-2-layer {
  margin-bottom: 2em;
  
  img {
    width:100%;
  }
  @include span-columns(12 of 12);
  
  @include media($md-lg) {
    @include span-columns(6 of 12);
    @include omega(1n);
  }
  @include media($xl-up) {
    @include span-columns(6 of 12);
    @include omega(1n);
  }
}

.boxes-3-across {
  margin-bottom: 2em;
  div.form-email {
    width: 100%;
  }
  img {
    width:100%;
  }
  @include span-columns(12 of 12);
  //@include media($l-down)
  @media screen and (min-width: $md) and (max-width: $lg) {
    @include span-columns(6 of 12);
    @include omega(2n);
  }
  @include media($lg-up) {
    @include span-columns(4 of 12);
    @include omega(3n);
  }
}

body.kidsmith {
  aside.page {
    padding:1em;
    background-color: $base-background-color;
  }
}
.row-social {
  margin:6em auto 0 auto;
  padding-top:4em;
  width:100%;
  background-color:#00557F;//#3B5998;
  min-height:300px;
  h5 {
    color:white;
  }
}
