 <!-- assign image = object.featured_image_path | prepend: site.image_url | remove: 'uploads/' | append: '?w=400'  -->
{% if object.featured_image_path %}
  {% assign image = object.featured_image_path %}
{% else  %}
  {% assign image = '/uploads/brookline-booksmith.jpg' %}
{% endif %}
{% assign collection = site.collections | where: 'label', object.collection | first  %}

<div class="bg-white border border-divider-color">
    <div class="col-12 bg-cover bg-no-repeat bg-center"{% if image %} style="height:200px;background-image:url({{ image }})"{% endif %}>
      &nbsp;
    </div>
    <div class="m0 px2 pb2">

      <h1 class="h3 name">
        {{ object.title | markdownify | remove: '<p>' | remove: '</p>' }}
      </h1>

      <div class="h5 gray">
        {% if date %}
        Posted {% include components/date.html date=date %}
        {% endif %}
        {% if object.staff %}
          {% assign theauthor = site.staff | where: 'slug', object.staff[0] %}
          by {{ theauthor[0].title }}
        {% endif %}
      </div>

      {% if object.description %}
        <div class="h4 pb3">
          {{ object.description | markdownify | remove: '<p>' | remove: '</p>' }}
        </div>
      {% endif %}

    </div>

    {% if object.categoriesTK %}
      <div class="absolute bottom-0 right-0 mr1 mb1 h6 gray">
        {{ object.categories[0] | replace: '-', ' ' | capitalize }}
      </div>
    {% endif %}
</div>
