<a href="{{ object.url }}" class="db br2 ba dark-gray b--black-10 bg-white bg-hover-near-white no-underline mv4 w-100 w-50-m w-25-l mw5TK center shadow-4">
    {% if object.featured_image_path %}
      <img src="{{ object.featured_image_path | remove: '/uploads' | prepend: site.image_url }}?h=150&fit=clip&q=98&bm=multiply&blend64=Y2Nj" class="db w-100 br2 br--top" alt="{{ object.title }}">
    {% endif %}

  <div class="pa2 ph3-ns pb3-ns">
    <div class="dt w-100 mt1">      
      {% if object.title %}
        <h1 class="f6 f5-ns mv0">
          {{ object.title | markdownify | replace: '<p>', '' | replace: '</p>', '' }}
        </h1>              
      {% endif %}        
  
      <h2 class="f6 mv0 cf highlight">by 
        {% for staff in object.staff %}
          {% assign authors = site.staff | where: 'slug', staff %}
          {% for author in authors  %}
            {{ author.title }}
          {% endfor %}
        {% endfor %}
      </h2>
      
    </div>
    
     {% if object.description and object.description != '' %}    
      <p class="f6 lh-copy measure mt2 mid-gray no-underline">  
        {{ object.description | markdownify | strip_html | truncatewords: 90, '…' }}      
      </p>
    {% endif %}      
    
  </div>
</a>
