{% comment %} FORMAT DATES {% endcomment %}
  {% capture start_at %}
  <!-- Whitespace added for readability -->
  {{ object.date | date: "%A" }}
  {% assign d = object.date | date: "%-d" %}
  {% assign m = object.date | date: "%B" %}
  {% case m %}
    {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
    {% when 'September' %}Sept.
    {% else %}{{ object.date | date: "%b" }}.
    {% endcase %}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th
    {% endcase %} {{ object.date | date: " %I:%M %p" | replace: ' 0', '' | downcase}}
  {% endcapture %}

  <time>
    {{ start_at }}
  </time>
