<!-- {% for cat in site.categories  %}
  {% if cat.landing_page %}
    {% assign landing_page_url = site.landing_pages | where: 'slug', cat.landing_page | first %}
    {% assign url = landing_page_url.url %}
  {% else %}
    {% assign url = cat.url %}
  {% endif %}

    {{ cat.name }}
  </a>
{% endfor %} -->



  <a href="/kidsmith/" class="btn btn-primary col-12f block sm-mb2 md-mb1 lg-mb1">
    Kidsmith
  </a>
  <!--
    <a href="{{ url }}" class="btn btn-primary col-12f block sm-mb2 md-mb1 lg-mb1">
      Holiday Gift Guide
    </a> -->

<!--
  <a href="/used-books/" class="btn btn-primary col-12f block sm-mb2 md-mb1 lg-mb1">
    First Edition Books and Find of the Week Archive
  </a> -->
