---
layout: default
---
<div class="has-layout layout-article">
  <article class="hentry">
      
      {% comment %}
        {% if entry.featuredImage %}
          {% include "partials/_hero.html" %}
        {% endif %}
      {% endcomment %}



    
      <header>
        <h2 class="entry-title">              
          {{ page.title }}
        </h2>
      </header>      
      <div class="entry-content prose">      
        

{% assign todays_date = site.time | date: "%Y%m" %}

{{ todays_date }}

{% comment %}
  {% assign events = site.events | where: , todays_date %}
{% endcomment %}

<hr />
{% for post in site.events group_by: 'date' %}


{% assign post_date = post.date | date: "%Y%m" %}

{% if post_date >= todays_date %}

  <a href="{{ post.url }}">{{ post.title}} </a>{{post_date}} - {{ todays_date }}<br />
  {% endif %}

{% endfor %}



      </div>      
    </article>
    <aside>
      {{ content }}
    </aside>
    
      <div class="row">
        {% include form-constant-contact.html %}
      </div>
    
  </div>
  {% comment %}
    {% include "templates/partials/prev-next.html" %}
  {% endcomment %}