---
layout: default
---
{% assign campaign = site.campaigns | where: 'show', true %}
{% assign featured_posts = site.posts | where: 'featured', true %}
{% assign posts = site.posts %}
{% comment %}{% assign posts_limit = site.paginate %}{% endcomment %}
{% assign posts_limit = 5 %}

{% include hero.html %}


<div class="px3">
  
  
    {% if campaign.size > 0 %}
      
        <div class="col-5">
          {% include _campaigns-image.html %}
        </div>
      
    {% endif %}
      


  <h4 class="brand blocked">
        Latest from the Blog
      </h4>









    
      {% if featured_posts %}
        {% for object in featured_posts limit:1 %}
          {% include components/card-image-top.html %}      
        {% endfor %}
      {% endif %}
      {% for object in posts limit:posts_limit %}
        {% unless object.featured == true %} 
          {% include components/card-image-top.html %}      
        {% endunless %}       
      {% endfor %}
    





      
  
    <h4 class="brand blocked">
      Upcoming Events
    </h4>
     {% include events/list-future.html format_output="long" %}
     

     <a href="/events/">
       <button>
         More Events
       </button>
     </a>
  </aside>







<div class="has-layout home">
  {% include _slideshow-new-arrivals.html type="Hardcover" %}
  <hr class="row" />
  {% include _slideshow-new-arrivals.html type="Paperback" %}
</div>














<div class="row-social">
    <div class="has-layout">
      <div class="boxes-3-across">
        <h5 class="large">Follow Us</h5>
        <div class="addthis_horizontal_follow_toolbox"></div>
      </div>
      <div class="boxes-3-across">
        {% include forms/constant-contact.html %}
      </div>
      <div class="boxes-3-across">
        &nbsp;
      </div>
    </div>
</div>
</div>