---
layout: default
---
{% assign campaign = site.campaigns | where: 'show', true %}
{% assign featured_posts = site.posts | where: 'featured', true %}
{% assign posts = site.posts %}
{% comment %}{% assign posts_limit = site.paginate %}{% endcomment %}
{% assign posts_limit = 5 %}
{% assign todays_date = site.time | date: "%Y%m%d"  %}
{% assign events_upcoming = site.events | where_exp: 'item', 'item.start_at > todays_date' %}
{% assign events_upcoming = events_upcoming | sort: 'start_at', 'last' %}

{% include hero.html %}
<div class="px3 col-12 my4 clearfix">

  <div class="col lg-col-9">

    {% if campaign.size > 0 %}
      {% assign second_row_offset = '1' %}
      <div class="clearfix col-12 pb-4">
        <div class="col col-7">
          {% include _campaigns-image.html %}
        </div>
        <div class="col col-5 px2">
          {% for object in posts limit:1 %}
          <a href="{{ object.url }}" class="col col-12 pl2 mb2 text-decoration-none relative black">
            {% include components/card-image-top-bg.html classes=box_classes %}
          </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <div class="col-12 clearfix">

      <h1>  Latest from the Blog</h1>

    </div>


    <div class="col-12 flex flex-wrap">
      {% for object in posts limit:3 offset:second_row_offset %}
        <a href="{{ object.url }}" class="col col-4 pr2 mb2 text-decoration-none relative black">
          {% include components/card-image-top-bg.html classes=box_classes %}
        </a>
      {% endfor %}
    </div>

    <div class="col-12 clearfix right-align px2">
      <a href="/blog/" class=" block btn btn-primary">
        more from the blog
      </a>
    </div>
  </div>

  <div class="col col-12 lg-col-3 bg-dark-primary-color rounded">
    <h1 class="p2 m0">Upcoming Events</h1>
    {% for object in events_upcoming  limit:8 %}
      {% assign start_at =  object.start_at | date: "%A %b %-d -  %I:%M %p" | replace: ' 0', '' | downcase %}
      <a href="{{ object.url }}" class="block col-12 px2 pt2 pb3 hover-bg-primary-color hover-light-primary-color">
        <time class="h5 primary-text-colorTK white m0">
          {{ start_at }}
        </time>
        <h3 class="h3 near-white m0">
          {{ object.title | markdownify | remove: '<p>' | remove: '</p>' }}
        </h3>
      </a>
    {% endfor %}
  </div>

</div>





























{% comment %}



<div class="has-layout home">
{% include _slideshow-new-arrivals.html type="Hardcover" %}
<hr class="row" />
{% include _slideshow-new-arrivals.html type="Paperback" %}
</div>




<h4 class="brand blocked">
Latest from the Blog
</h4>
{% if featured_posts %}
{% for object in featured_posts limit:1 %}
{% include components/card-image-top.html %}
{% endfor %}
{% endif %}
{% for object in posts limit:posts_limit %}
{% unless object.featured == true %}
{% include components/card-image-top.html %}
{% endunless %}
{% endfor %}









<h4 class="brand blocked">
Upcoming Events
</h4>
{% include events/list-future.html format_output="long" %}


<a href="/events/">
<button>
More Events
</button>
</a>


{% endcomment %}
