---
layout: default
---
{% assign campaign = site.campaigns | where: 'show', true %}
{% assign featured_posts = site.posts | where: 'featured', true %}
{% assign posts = site.posts %}
{% assign posts_limit = 5 %}
{% assign page_events = site.events  %}
{% include events/filter-events_upcoming.html %}

{% include hero.html %}
<div class="px3 col-12 my4 clearfix">
  <div class="col lg-col-9">

<h3 class="h1 mt0 col-12">
    Upcoming Events
  </h3>

    {% if campaign.size > 0 %}
      {% assign second_row_offset = '1' %}
      {% assign second_row_limit = '3' %}
      <div class="clearfix col-12 pb-4">
        <div class="md-col lg-col col-12 md-col-7 lg-col-7 mb3 md-mb0 lg-mb0 ">
          {% include _campaigns-image.html %}
        </div>
        <div class="md-col lg-col col-12 md-col-5 lg-col-5 md-px2 lg-px2">
          {% for object in events_upcoming limit:1 %}
          <a href="{{ object.url }}" class="col col-12 md-pl2 lg-pl2 mb2 text-decoration-none relative black">
            {% include events/output-format-small-cards.html classes=box_classes start_at=start_at %}
          </a>
          {% endfor %}
        </div>
      </div>
      {% else %}
      {% assign second_row_limit = '8' %}
    {% endif %}



    <div class="col-12 flex flex-wrap md-pr2">
      {% for object in events_upcoming limit:second_row_limit offset:second_row_offset %}
        {% assign start_at =  object.start_at | date: "%A %b %-d - %I:%M %p" | replace: ' 0', '' | downcase %}
        {%  include events/output-format-small-cards.html classes=box_classes start_at=start_at %}
      {% endfor %}
    </div>

    <div class="col-12 clearfix right-align px2 mb3 md-mb0 lg-mb0">
      <a href="/events/#event-{{second_row_limit}}" class=" block btn btn-primary bg-primary-color">
        more events
      </a>
    </div>
  </div>






  <div class="col col-12 lg-col-3 bg-primary-color rounded">
    <h1 class="p2 m0 white">Latest Blog Posts</h1>
    {% for object in posts  limit:10 %}
      <a href="{{ object.url }}" class="block col-12 px2 py2  hover-bg-dark-primary-color">
        <h3 class="h3 near-white hover-light-primary-color m0">
          {{ object.title | markdownify | remove: '<p>' | remove: '</p>' }}
        </h3>
        <span class="h5 gray">
          {% if date %}
          Posted {% include components/date.html date=date %}
          {% endif %}
          {% if object.staff %}
            {% assign theauthor = site.staff | where: 'slug', object.staff[0] %}
            by {{ theauthor[0].title }}
          {% endif %}
        </span>
      </a>
    {% endfor %}
  </div>

</div>


<div class="px3 my4 clearfix">
{% assign image_classes = 'inline-block sm-col md-col lg-col col-12 sm-col-4 md-col-2 lg-col-2 pb3'  %}
  <h3 class="h1 col-12">
    Weekly Bestsellers — Hardcover
  </h3>
  <div class="flex flex-wrap">
    {% include weekly-bestsellers.html type="Hardcover" image_classes=image_classes limit=7 %}
    {% comment %}
    <!--
    assign weekly_bestsellers = site.weekly_bestsellers | where: 'slug', 'home-page' %}
     for  item in weekly_bestsellers %}
     assign hardcover_bestsellers = site.books | where: 'slug', item.featured_hardcover_books %}
     for object in hardcover_bestsellers  %}
      {{ object.title }}<br />
    {% endfor %}
    {% endfor %}
  -->
     {% endcomment %}

  </div>

  <h3 class="h1 col-12 mt3">
    Weekly Bestsellers — Paperback
  </h3>
  <div class="flex flex-wrap">
    {% include weekly-bestsellers.html type="Paperback" image_classes=image_classes limit=7 %}
  </div>

</div>





























{% comment %}



<div class="has-layout home">
{% include _slideshow-new-arrivals.html type="Hardcover" %}
<hr class="row" />
{% include _slideshow-new-arrivals.html type="Paperback" %}
</div>




<h4 class="brand blocked">
Latest from the Blog
</h4>
{% if featured_posts %}
{% for object in featured_posts limit:1 %}
{% include components/card-image-top.html %}
{% endfor %}
{% endif %}
{% for object in posts limit:posts_limit %}
{% unless object.featured == true %}
{% include components/card-image-top.html %}
{% endunless %}
{% endfor %}









<h4 class="brand blocked">
Upcoming Events
</h4>
{% include events/list-future.html format_output="long" %}


<a href="/events/">
<button>
More Events
</button>
</a>


{% endcomment %}
