---
layout: default
---
  {% include hero.html %}
<div class="height-100 p3">
  <aside class="top{% if page.description  %} content-aside{% endif %}">
    {% if page.description  %}
      {{ page.description  | markdownify }}
    {% endif %}
    &nbsp;
    {% if page.category %}
    {% assign category_posts = site.posts | where: 'category', page.category %}
    {% if category_posts %}
    <ul>
    {% for object in category_posts %}
      <li style="margin-bottom:1em;">
        <a href="#{{ object.url | slugify }}">
            {{ object.title | escape  }}
        </a>
      </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endif %}
  </aside>
  <article class="hentry">
      {% include _format-article.html %}
  </article>
  <aside class="bottom{% if page.aside-bottom or page.include_description %} content-aside{% endif %}">
    {% if page.include_description %}
        {% include {{ page.include_description }} %}
    {% endif %}
    &nbsp;
    {% if page.featured_image_credit %}
      <div class="caption">
        image credit: {{ page.featured_image_credit | markdownify | remove: '<p>' | remove: '</p>' }}
      </div>
    {% endif %}

  </aside>
</div>