---
layout: default
---
{% include hero.html %}

<div class="height-100">
  
  <aside class="top col lg-col-3 mt1{% if page.description  %} bg-near-white p2{% endif %}">
    {% if page.description  %}
      {{ page.description  | markdownify }}
    {% endif %}
  </aside>

  <article class="hentry p3 col lg-col-7">
      {% include _format-article.html %}
  </article>
  

  <aside class="clearfix bottom{% if page.aside-bottom or page.include_description %} content-aside{% endif %}">
    {% if page.include_description %}
        {% include {{ page.include_description }} %}
    {% endif %}
    &nbsp;
    {% if page.featured_image_credit %}
      <div class="caption">
        image credit: {{ page.featured_image_credit | markdownify | remove: '<p>' | remove: '</p>' }}
      </div>
    {% endif %}
  </aside>

</div>