<style media="screen">
  h1.special {
    font-family: 'Fredericka the Great', 'Chronica W03 Black', Lato, Helvetica, sans-serif;
    font-weight: 400;
  }
  .bud {
    color: red;
  }
</style>
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Fredericka+the+Great::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>