<footer class="bg-black clearfix p2" role="contentinfo">
<div class="addthis_horizontal_follow_toolbox xs-hideTK bg-white box-shadow-small-black px2 pb1 border-left border-top border-bottom border-divider-color" style="position:fixed;bottom:20px;right:0px;"></div>
<a href="/" class="h6 p1 white hover-silver text-decoration-none">
  &copy; {{ site.time | date: '%Y' }} {{ site.title }}
</a>
  <a href="/privacy-policy/" class="h6 p1 white hover-silver text-decoration-none">Privacy Policy</a>
</footer>
