{% assign navigation-links = site.data.navigation-links %}
<header class="df flx-dc h-100 fixed top-0 left-0 cl overflow-y-auto bg-brand w5" role="banner" data-search-index="false">

  <a href="/" class="db mw-100 white font-family-brand lh-solid f2 no-underline pv3 ph3">    
    {{ site.sitename | default: 'Home' }}    
  </a>

    <small class="db mw-100 pv2 ph3 near-white no-underline clip-ns lato">
      {{ site.address_for_nav }}
    </small>
  {% for object in navigation-links %}
    <a class="
      db mw-100 f5 pv2 ph3 white-70 lato b no-underline bg-hover-brand b-brand {% unless forloop.last %} bb {% endunless %}{% if page.url == object.url %} bg-near-brand white{% endif %}" href="{{ object.url }}" title="{{ object.title }}">
      {{ object.title }}
    </a>
  {% endfor %}

    <div class=" db mt4 mb3 ml3 ">
      <a href="/join-our-mailing-list/" class="btn btn-primary bg-highlight bg-highlight-dark-hover pointer white br2 ph3 pv2 no-underline">
      join our mailing list
    </a>
    </div>
  
  <div class="addthis_horizontal_follow_toolbox ph3 rounded" style="margin-top:auto;"></div>

  {% comment %}
    <!-- if we want to host our own buttons, this process is started -->
    <!-- 
      <div class="p1 lg-p2 rounded" style="margin-top:auto;">
        {% include sharing.html %}
      </div>
    -->
  {% endcomment %}
</header>
