<nav  class="lg-flex items-end px2 lg-px3 clearfix col-12 bg-brand" role="navigation">  
  <div class="flex-auto"><!-- adds space between the menu and the search bar on the right --> </div>
  <div class="">
    {% for object in site.data.navigation-links.utility %}
      <a class="inline-block h6 text-decoration-none fit py1 pr2 lg-pr3 bold moon-gray hover-white bg-hover-near-brand{% if page.url == object.url %} bg-near-brand white{% endif %}" href="{{ object.url }}" title="{{ object.title }}">
        {{ object.title }}
      </a>
    {% endfor %}
  </div>
</nav>