<nav class="fixed top-0 left-0 z2 bg-brand" style="height:100%;width:200px;">
  <ul>
    <li  class="nav-link{# {% if getCurrentUrl() == url(link.page) %} active{% endif %} #}">
      <a href="/">
        home
      </a>
    </li>
    {% include global/navigation-links-mobile.html %}
    <div style="padding:.5em;">
      {% comment %}
        {% include "templates/partials/form-search.html" %}
      {% endcomment %}
    </div>
  </ul>
</nav>
<div class="js-menu-screen sliding-panel-fade-screen"></div>