{% for link in site.data.navigation %}
  {% if link.name %}
    <li class="nav-link">
      <a href="{{site.baseurl}}{{link.link}}" class="nav-link{% if link.link contains page.url %} active{% endif %}" onclick="trackOutboundLink('{{link.link}}'); return false;">
        {{ link.name }}
      </a>
    </li>
  {% endif %}
{% endfor %}
  <li class="nav-link more"><a href="javascript:void(0)" class="mobile-hide"><strong>More</strong></a>
    <ul class="submenu">
      {% for link in site.data.navigation-more %}
        {% if link.name %}
          <li><a href="{{link.link}}" onclick="trackOutboundLink('{{link.link}}'); return false;">{{ link.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
