<header class="navigation" role="banner" data-search-index="false">
    <div class="navigation-wrapper">

      <div class="brand">
        <h1>
          <a href="/">
            {% if site.sitename %}
              {{ site.sitename }}
            {% endif %}
          </a>
        </h1>
        <button type="button" class="tcon tcon-menu--xcross js-menu-trigger sliding-panel-button" aria-label="toggle menu">
          <span class="tcon-menu__lines" aria-hidden="true"></span>
          <span class="tcon-visuallyhiddenTK button__copy">MENU</span>
        </button>
      </div>

      <nav id="js-navigation-menu" role="navigation">
        <ul class="navigation-menu showTK">
          {% include global/navigation-links.html %}
        </ul>
      </nav>
      {% if site.address_for_nav %}
        <div class="location-data">
          {{ site.address_for_nav }}
        </div>
      {% endif %}

      <div class="navigation-tools">
        <div class="search-bar">


          {% include _form-search-aba-nav.html %}


        </div>
      </div>

    </div>
  </header>

