<script src="/static/js/dist/scripts-concatenated.min.js" async></script>

<script type="text/javascript">
  function downloadJSAtOnload() {
    var element_addthis = document.createElement("script");
    element_addthis.src = "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-561d1f58a8154d03";
    document.body.appendChild(element_addthis);

    var element_addthis_events = document.createElement("script");
    element_addthis_events.src = "https://addevent.com/libs/atc/1.6.1/atc.min.js";
    document.body.appendChild(element_addthis_events);
  }
  if (window.addEventListener)
  window.addEventListener("load", downloadJSAtOnload, false);
  else if (window.attachEvent)
  window.attachEvent("onload", downloadJSAtOnload);
  else window.onload = downloadJSAtOnload;




  ;(function(document) {
	document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, 'js');
}(document));

</script>

{% comment %}
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-561d1f58a8154d03" async="async"></script>
{% endcomment %}

{% comment %} TODO: lighten up the Lato, if possible {% endcomment %}
<script type="text/javascript">
  WebFontConfig = {
 google: { families: [ 'Lato:400,300,300italic,400italic,700,700italic,900,900italic:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>

  {% if page.fancy_font != '' %}

    {% if page.fancy_font == 'Lato' %}
      {% include fonts/lato.html %}
    {% endif %}

    {% if page.fancy_font == 'Cabin-sketch' %}
      {% include fonts/cabin-sketch.html %}
    {% endif %}

    {% if page.fancy_font == 'Fredericka+the+Great' %}
      {% include fonts/fredericka-the-great.html %}
    {% endif %}
    {% if page.fancy_font == 'Pacifico' %}
      {% include fonts/pacifico.html %}
    {% endif %}

  {% endif %}
  <!-- AddEvent -->
  <script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0043/8428.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>
