{# ------------------------------------------------------- #}
{# ONE OFF VIEW contact #}
{# This page can use any data from http:localhost:2000/cms/#/form/contact/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this contact's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.contact.name }}{% endblock %}
{% block content %}
  <h1>{{ cms.contact.name }}</h1>
  <ul>
      <li>
        <strong>Name: </strong>
        {{ cms.contact.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.contact.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.contact.last_updated|date('F d Y') }}
      </li>
      <li>
        <strong>Address: </strong>
        <address>
          {{ cms.contact.address.street1 }}<br/>
          {% if cms.contact.address.street2 %}{{ cms.contact.address.street2 }}<br/>{% endif %}
          {{ cms.contact.address.city }}, {{ cms.contact.address.state }}. {{ cms.contact.address.country }} {{ cms.contact.address.zip }}
        </address>
      </li>
      <li>
        <strong>Copy: </strong>
        {{ cms.contact.copy|safe }}
      </li>
      <li>
        <strong>Preview URL: </strong>
        {{ cms.contact.preview_url }}
      </li>
      <li>
        <strong>Slug: </strong>
        {{ cms.contact.slug }}
      </li>
  </ul>
{% endblock %}
