{% for month in cms.events %}
{{ month.name}}{% set events = month.events  %}
<hr />{% for row in month.events %}
+
---<br />
Event title: "{{ row.event_name }}"<br />
Start Date: {{ row.start_date|date('F d Y') }}<br />
Program: {{ row.program.name }}<br />
book_isbn: {% for key, row in row.book_data %}{% for key, cell in row %}{{ cell }}{% endfor %}{% endfor%}<br />
Genre: {{ row.genre }}<br />
Venue: {{ row.venue }}<br />
---<br />
Summary: {{ row.summary|safe }}
<br />
{% endfor %}
{% endfor %}
