{% extends "templates/partials/base.html" %}
{% block body_class %}{% parent %} home{% endblock %}
{% block title %}{% parent %} - home{% endblock %}
{% block hero %}
   {% include "templates/partials/hero-gallery.html" %}
{% endblock %}
{% block content %}
  <main class="layout-article row">
    <article class="">
      {% include "templates/partials/news-blocks.html" %}
    </article>
    <aside>
      {% include "templates/partials/accordion.html" %}
    </aside>

<form action="/search-results/" class="search-form" method="get" data-search-index="false">
  <input type="text" placeholder="search" id="tipue_search_input" name="q">
</form>
  </main>
{% endblock %}
