{% extends "templates/partials/base.html" %} 

{% block title %}{% parent %}{% endblock %} 

{% block body_attributes %}class="home"{% endblock %}

{% block hero %}
        {% include "templates/partials/hero.html" %}
      {% endblock %}

{% block content %} 

<main>
<article class="hentry">
  {# <h2 class="logo" style="font-size:1.125em;">Upcoming Eventsyo</h2>
  <ul class="boxes">
    <li>{% include "templates/partials/events-list-nav.html" %}</li>
  </ul> #}
</article>
  
</main>

{% endblock %}

{% block scripts_extra %}{% endblock %}