/*

   COLOR VARIABLES

   Variables to set colors for
   color, background-color, and border-color

*/

/* variables */
:root {

  --purple: #9E5697;
  --purple-dark:#874981;
  --button-background-color: var(--purple);
  --brand-color: #00557F;
  --brand-90: #00486B;
  --brand-dark: #0c4f76;
  --highlight:var(--purple);
  --highlight-dark:var(--purple-dark);

}

