@font-face{
font-family:"Chronica W03 Black";
src:url("/assets/font/b6378a07-8e2d-4510-b14b-21f6ffa4412a.eot?#iefix");
src:url("/assets/font/b6378a07-8e2d-4510-b14b-21f6ffa4412a.eot?#iefix") format("eot"),url("/assets/font/3f3f6279-d95f-4bfd-ac70-6f7ddebd82e6.woff2") format("woff2"),url("/assets/font/5169f4fd-a40b-4254-bc5b-270f0f1b1eba.woff") format("woff"),url("/assets/font/cc67a4a6-528e-41ca-a4f9-f1883e016a17.ttf") format("truetype"),url("/assets/font/675190f4-fb7e-423a-97e1-24692885379b.svg#675190f4-fb7e-423a-97e1-24692885379b") format("svg");
}

body {
  font-family: var(--font-primary);
  line-height: 1.5;
}

.font-family-brand {
  font-family: var(--font-brand) ;
} 


.font-family-brand {
  font-family: var(--font-brand) ;
} 


a {
text-decoration: none;
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}


:root {
  --font-brand:  'Chronica W03 Black', 'Lato','Helvetica Neue', Helvetica, sans-serif;
  --font-primary:  'Lato','Helvetica Neue', Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',sans-serif;
}
