#at4-follow, #at4-foc {
  /*this is temporary to hide addthis follow header while this site is in staging*/
  /*left: -10px !important;*/
  display: none !important;
}
article.hentry p {
  font-size: 1.125em;
  color: #555;
}
article.hentry img {
  float: left;
  max-height: 15em;
  margin: .75em 1.5em .75em 0;
  padding-bottom: 1em;
}

.content {
min-height: 90vh;
}
@media (--breakpoint-md) {
  .min-height-390 {  
    min-height:390px;
  }
}


/*buttons for paypal options on SFE*/
.button-group{margin-bottom:1.5em}.button-group input{display:none}.button-group label{margin-bottom:0}@media screen and (min-width: 56.25em){.button-group label{float:left}}.button-group label .button-group-item{background:#f6f6f6;border-left:1px solid silver;border-radius:0;border-right:1px solid silver;color:#909090;cursor:pointer;display:inline-block;font-size:1em;font-weight:normal;line-height:1;padding:0.75em 1em;width:100%}@media screen and (min-width: 56.25em){.button-group label .button-group-item{border-bottom:1px solid silver;border-left:0;border-right:1px solid #eee;border-top:1px solid silver;width:auto}}.button-group label .button-group-item:focus,.button-group label .button-group-item:hover{background-color:#eee}.button-group label:first-child .button-group-item{border-top-left-radius:3px;border-top-right-radius:3px;border-top:1px solid silver}@media screen and (min-width: 56.25em){.button-group label:first-child .button-group-item{border-bottom-left-radius:3px;border-left:1px solid silver;border-top-left-radius:3px;border-top-right-radius:0}}.button-group label:last-child .button-group-item{border-bottom-left-radius:3px;border-bottom-right-radius:3px;border-bottom:1px solid silver}@media screen and (min-width: 56.25em){.button-group label:last-child .button-group-item{border-bottom-left-radius:0;border-bottom-right-radius:3px;border-right:1px solid silver;border-top-right-radius:3px}}.button-group label input:checked+.button-group-item{background:#777;border:1px solid #515151;box-shadow:inset 0 1px 2px #5e5e5e;color:#fff}



