/*Put Tachyons overrides outside of src folder*/
@import 'sanitize.css';

@import '/_fonts';

@import 'normalize-opentype.css/normalize-opentype.css';
/* Variables */

/*@import '_colors';*/

@import '_basscss';

 
@import '_layout';
@import '_font-styles';
@import '_overrides';
@import '_media-queries';
.clip:focus {
  clip: auto;
}

/*.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/
