@import 'sanitize.css';
@import 'normalize-opentype.css/normalize-opentype.css';
@import '_basscss';
@import 'modules/_accessibility';
@import 'modules/_base';
@import 'modules/_fonts';
@import 'modules/_colors'; 
@import 'modules/_layout';
@import 'modules/_media-queries';
@import 'modules/_height';
@import 'modules/_styles';
@import 'modules/_shadows';
@import 'modules/_expandable';
@import 'modules/_transitions';
/*@import 'modules/_debug';*/



/*
TODO:
- hide sidebar < 1024px and use menu button
- make w-4 and ml-4 280 and 220 pixels depending on screenwidth
- on iOS, when scrolling the sidebar shows white because chrome disappears. Need to add script to fix this.
todo: moving to production
 - turn off addthis follow header
*/

.text-shadow {
  text-shadow: 1px 0 1px #000000;
}
