article.hentry {
  padding-bottom: 6em;
  margin:auto;
  max-width: 96%;
  //min-height: $c-vp;
  overflow: hidden;
  header {
    margin-bottom: .5em;
  }
  .prose {
    img {
      max-height: 14em;
      float:left;
      margin: .25em 1em .25em 0;
    }
    hr {
      margin: 4em auto;
    }
  }
  img {
    max-width: 100%;
  }
    @include media($md-up) {
    //padding: 2rem 7em; //- change padding to the screen size
    width: 41em;
    max-width: 86%;
  }
}
