article.hentry {
  padding-bottom: 6em;
  margin:auto;
  overflow: hidden;
  header {
    margin-bottom: .5em;
  }
  .items {
    img {
      max-height: 15em;
      float:left;
      margin: .25em 1em .25em 0;
      padding-bottom: 1em;
      @include media($sm-dn) {
        width: 100%;
        float: none;
        clear: both;
        max-height: 30em;
        margin: .25em 0;
      }
    }
    h3 {
      font-family: $brand-font-family;
      margin-top: 3em;
    }
    hr {
      @extend .row;
      border-top-color: #ccc;
      margin: 4em 0 8em 0;
    }
    //  .item {
    //   min-height: 18em;
    //   clear:both;
    //   padding: 1.5em;
    // }
  }
  img {
    max-width: 100%;
  }
    @include media($md-up) {
    max-width: 100%;
  }
}

aside {
  padding: 2em;//$color-2;
}

aside.top {
  background-color: $sidebar-top-color-background;
  border-bottom-right-radius: 3px;
  color: white;
}

aside.bottom {
  background-color: $sidebar-bottom-color-background;
  border-bottom-left-radius: 3px;
}
