h3.event_title, .event_title {
  font-size: 1.25em;
  font-family: $brand-font-family;
  //margin-bottom: .375em;
  @include media($lg-up) {
    font-size: 1.5em;
  }
line-height: normal;
}

.date {
  color: $action-color;
  font-family: $brand-font-family;
  //font-weight: bold;
}