// Uncomment this for a sticky footer.

.content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  //margin: 0 auto -4em;
  margin-bottom: -4em;
  padding-bottom:5em;
}

html, body {
 height: 100%;
}

.wrapper-for-content-outside-of-footer:after, .content:after {
  content: "";
  display: block;
}

.footer-2, .wrapper-for-content-outside-of-footer:after, .content:after {
  height: 17em;

  @include media($lg) {
    height: 4em;
  }
}

.footer-2 {

  background: $footer-background;
  padding: $base-spacing $base-spacing ($base-spacing * 2) $base-spacing;
  margin-bottom: -.375em;
  width: 100%;
  display: inline-block;
  //border-bottom: 6px solid darken($footer-background, 15%);

  ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;

    @include media($lg) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    font-weight: 800;
    list-style: none;
    padding-right: 1em;

    @include media($lg) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-secondary-links {
    @include media($lg) {
      float: right;
    }

    li {
      font-size: 0.8em;
      font-weight: 400;
    }

    ul.footer-social {
      margin: 1em 0 0 0;

      @include media($lg) {
        float: right;
        margin-top: 0;
      }

      li {
        font-size: 1em;
        float: left;
        line-height: 0;
        margin: 0;
        padding-right: 0.7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        height: 1.6em;
        opacity: 0.7;
        padding: 1px;

        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
