.hero {  
  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  //$hero-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';
  //$hero-image:'https://images.unsplash.com/uploads/1413498852637ad9a7e80/1569fece?q=80&fm=jpg&s=9d83b5a1447b7855ac9973a5ca450a99';
  //$hero-image:'https://storage.googleapis.com/www.brooklinebooksmith.com/webhook-uploads/1442843154579_boy-reading.jpg';
//  $hero-image: 'http://sheetsu.com/assets/triangles8-c354ab118fbae27e25e00b41698ad7b4ddf633426b0a9919f310e8515dc1e24d.png';
//@include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: $brand-background-color;
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
  //padding-bottom: 3em;

  .hero-logo img {
    //height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3em 3.5em 1em 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      padding-bottom: 3.5em;
      
      h1 {
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($lg) {
          font-size: 1.8em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($lg) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}
