.has-layout {
  @include outer-container;
}

.has-layout__wide {
  @include outer-container(90%);
}

.layout-posts, .has-layout {
  clear: both; //shouldn't need these - TODO: Test node_modules/node-neat/node_modules/bourbon-neat/app/assets/stylesheets/grid/_outer-container.scss
  @include clearfix; //shouldn't need these - TODO: Test
  @include outer-container;
  //max-width: 96%;
  max-width: $small-screen-max-width;
  @include media($xl-up) {
    max-width: $max-width;
  }
}

.layout_two_column_wide {

  @include layout_two_column_wide;
}

.layout-article {
  @include layout_two_column;

  aside.page {
    //background-color:#f6f6f6;
    border-radius: 2px;
    background-color: $sidebar-color-background;//$color-2;
    margin:0 0 3em 0;
    color: $blue-dark;//$brown-dark;
    hr {
        border-color: lighten($sidebar-color-background, 5%);
    }
    a {
      color: $action-color;
      @include word-wrap;
      &:hover {
        color: #333;
      }
    }
    padding:2em;
    font-size: .875em;
    @include media($lg-up) {

    }
  }
  article {
    @include media($lg-up) {
      padding-bottom: 4em;
    }
  }
  header, .entry-content {
    padding: 0 2em;

  @include media($lg-up) {
    padding: 0;
  }
  }
}

.row {
  clear: both;
  @include clearfix;
  //@include outer-container(60%);
  @include outer-container();
  margin: 4em auto;
}

.row__clear {
  @include clearfix;
}


.boxes {
  background-color: #fff;
  color: #555;
  padding: 1em;
}

.boxes-2-across {
  margin-bottom: 2em;
  img {
    width:100%;
  }
  @include span-columns(12 of 12);
  @include media($lg-up) {
    @include span-columns(6 of 12);
    @include omega(2n);
  }
}

.boxes-3-across {
  margin-bottom: 2em;

  img {
    width:100%;
  }
  @include span-columns(12 of 12);

  //@include media($l-down)
@media screen and (min-width: $md) and (max-width: $lg)
  {
    @include span-columns(6 of 12);
    @include omega(2n);
  }
  @include media($lg-up) {
    @include span-columns(4 of 12);
    @include omega(3n);
  }
}
body.kidsmith {
  aside.page {
    padding:1em;
    background-color: $base-background-color;
  }
}