
@for $i from 1 through 6 {
  h#{$i} {
    font-size: modular-scale(6 - $i, $ratio: $major-third);
  }
  @include media($lg-m) {
    h#{$i} {
      font-size: modular-scale(6 - $i);
    }
  }
}


//small screen 
.layout-grid h1, article h1, article h2, article h3 {
  margin-top: $small-spacing * 2;
}
.layout-grid h1:first-of-type, article h1:first-of-type, article h2:first-of-type, article h3:first-of-type {
     margin-top: $small-spacing;
  @include media($lg-m) {
   margin-top: $small-spacing;
  }
}

