---
layout: default
---
<div class="has-layout layout-article">
  <article class="hentry">

      {% comment %}
        {% if entry.featuredImage %}
          {% include "partials/_hero.html" %}
        {% endif %}
      {% endcomment %}




      <header>
        <h2 class="entry-title">
          {{ page.title }}
        </h2>
      </header>
      <div class="entry-content prose editable"><p>yff</p><h2>&nbsp;</h2><p>978999999 2015-12</p><p>this is a nice one.</p><h2>&nbsp;</h2><p>97866633x3 2015-10 <img style="height:150px;" src="/uploads/51zhvwqbckl.jpg" /></p><p>This one is a nut case, believe me.</p><h2>&nbsp;</h2><p>98777777777 feb <img style="height:150px;" src="/uploads/unnamed.jpg" /></p><p>this one is tough. There&rsquo;s &ldquo;ENOUGH&rdquo; for everyone, but nothing for anyone else, no sir, not even for yo yo MA: and that&rsquo;s no joke.</p><p>specials specials</p></div>
    </article>
    <aside>
      {{ content }}
    </aside>

      <div class="row">
        {% include form-mailchimp.html %}
      </div>

  </div>
  {% comment %}
    {% include "templates/partials/prev-next.html" %}
  {% endcomment %}
