---
layout: default
---
<div class="has-layout layout-article">
  <article class="hentry">
    <header>
      <h2 class="entry-title">
        {{ page.title }}
      </h2>
    </header>
    <div class="entry-content" style="width:100%;clear:both;">
      {% if page.lede %}
        <div class="lede">
          {{ page.lede |markdownify }}
        </div>
      {% endif %}
      {{ page.content }}
      {% if page.include %}
        {% include {{ page.include }} %}
      {% endif %}
      {% if page.featured_image_credit %}
        <div class="row">
          <div class="caption">
            image credit: {{ page.featured_image_credit | markdownify | remove: '<p>' | remove: '</p>' }}
          </div>
        </div>
      {% endif %}
    </div>
  </article>
  <aside class="page">
    {% if page.aside %}
      {{ page.aside | markdownify }}
    {% endif %}
    <br />
    {% if page.include_aside %}
      {% include {{ page.include_aside }} %}
    {% endif %}
  </aside>
  <div class="row">
    {% include form-mailchimp.html %}
  </div>
</div>