---
layout: default
---
<div class="has-layout__full-width layout-three-column">
  <aside class="top{% if page.aside %} content-aside{% endif %}">
    {% if page.aside %}
      {{ page.aside | markdownify }}
    {% endif %}
    &nbsp;
    {% assign category_posts = site.posts | where: 'category', page.category %}
    {% if page.category %}
    <ul>
    {% for object in category_posts %}
      <li>
        <a href="#{{ object.title | slugify }}">
            {{ object.title }}
        </a>
      </li>
    {% endfor %}
    </ul>
    {% endif %}
  </aside>
  <article class="hentry">
    {% include _format-article.html %}
  </article>
  <aside class="bottom{% if page.aside-bottom or page.include_aside %} content-aside{% endif %}">
    {% if page.include_aside %}
        {% include {{ page.include_aside }} %}
    {% endif %}
    &nbsp;
    {% if page.featured_image_credit %}
      <div class="caption">
        image credit: {{ page.featured_image_credit | markdownify | remove: '<p>' | remove: '</p>' }}
      </div>
    {% endif %}

  </aside>
</div>