---
layout: default
---
<div class="has-layout__full-width layout-three-column">
  <aside class="top{% if page.aside %} content-aside{% endif %}">
    {% if page.aside %}
      {{ page.aside | markdownify }}
    {% endif %}
    &nbsp;
    {% assign category_posts = site.posts | where: 'category', page.category %}
    {% if page.category %}
    <ul>
    {% for object in category_posts %}
      <li>
        <a href="#{{ object.title | slugify }}">
            {{ object.title }}
        </a>
      </li>
    {% endfor %}
    </ul>
    {% endif %}
  </aside>
  <article class="hentry">
    {% include _format-article.html %}
  </article>
  <aside class="bottom{% if page.aside-bottom %} content-aside{% endif %}">
    &nbsp;
  </aside>
</div>