---
layout: default
include_hero: false
---
<div class="has-layout layout-article">
  <article class="hentry">

    <header>
      <h2 class="entry-title">
        {{ page.title }}
      </h2>
      <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.staff %} • {{ page.staff }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>
    <div class="entry-content">
      {% if page.lede %}
        <div class="lede">
          {{ page.lede |markdownify }}
        </div>
      {% endif %}
      <div class="prose">
        {{ page.content  | markdownify }}
      </div>
      {% if page.include %}
        {% include {{ page.include }} %}
      {% endif %}
      {% if page.featured_image_credit %}
        <div class="caption">
          image credit: {{ page.featured_image_credit | markdownify | remove: '<p>' | remove: '</p>' }}
        </div>
      {% endif %}
    </div>
  </article>
  <aside class="page">
    {% if page.aside %}
      {{ page.aside | markdownify }}
    {% endif %}
    <br />{% capture page_categories %}{{ page.categories }}{% endcapture %}
          <h4>category: {{ page_categories | replace: '-', ' ' | capitalize }}</h4>

  </aside>
  <div class="row">
    {% include form-constant-contact.html %}
  </div>
</div>