
.gallery {
  ////////////////////background: #fff;
  padding: 2em 1em 3em 1em;
  min-height: 25em;
  &:focus {outline:0;}
}

.gallery a img {
  display: block;
  min-height: 22.5em;
  margin-right: 1.5em;
  max-width: 100%;

  &:focus {
    outline:0;
  }
  @include media($lg-up) {
    width: auto;
    height: 25em;
  }
}
.gallery > .flickity-viewport {min-height: 400px !important;}

.gallery-cell {
  width: 100%;
  margin-right: 0;
  @include media($lg-up) {
    width: 25%;
    max-height: 22.5em;
    margin-right: 1.5em;
}
  ///////////////////background: #fff;
}

.gallery-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}


/* fade in lazy loaded image */
.gallery-cell-image.flickity-lazyloaded,
.gallery-cell-image.flickity-lazyerror {
  opacity: 1;
}