---
layout: default
---
{% assign campaign = site.campaigns | where: 'show', true %}
{% assign featured_posts = site.posts | where: 'featured', true %}
{% assign posts = site.posts %}
{% comment %}{% assign posts_limit = site.paginate %}{% endcomment %}
{% assign posts_limit = 5 %}
<main class="layout_two_column_wide row">
  <article class="">
    {% if campaign.size > 0 %}
      <div class="mobile-only">
        {% include _campaigns-image.html %}
      </div>
    {% endif %}
      
    <div class="cards">      
      <h4 class="brand blocked">
        Latest from the Blog
      </h4>
      {% if featured_posts %}
        {% for object in featured_posts limit:1 %}
          {% include _format-blog-posts.html %}      
        {% endfor %}
      {% endif %}
      {% for object in posts limit:posts_limit %}
        {% unless object.featured == true %} 
          {% include _format-blog-posts.html %}
        {% endunless %}       
      {% endfor %}
    </div>
    <a href="/blog/">
      <button>
         Go to the Blog
      </button>
    </a>
  </article>
  <aside>

      {% if campaign.size > 0 %}
      <div class="desktop-only">
        {% include _campaigns-image.html %}
      </div>
      {% endif %}

    {% comment %} TODO: exhange this ugly hack {% endcomment %}
    <style media="screen">
      .event {
        display: none;
      }
      .event#event-1,.event#event-2, .event#event-3, .event#event-4, .event#event-5 {
        display: block;
      }
    </style>
    <h4 class="brand blocked">
      Upcoming Events
    </h4>
     {% include events/list-future.html format_output="long" %}
     <a href="/events/">
       <button>
         More Events
       </button>
     </a>
  </aside>
</main>
<div class="has-layout home">
  {% include _slideshow-new-arrivals.html type="Hardcover" %}
  <hr class="row" />
  {% include _slideshow-new-arrivals.html type="Paperback" %}
</div>




<div class="row-social">
    <div class="has-layout">
      <div class="boxes-3-across">
        <h5 class="large">Follow Us</h5>
        <div class="addthis_horizontal_follow_toolbox"></div>
      </div>
      <div class="boxes-3-across">
        {% include form-constant-contact.html %}
      </div>
      <div class="boxes-3-across">
        &nbsp;
      </div>
    </div>
</div>