{% assign related_books_isbn = event.book_isbn %}
<div class="card event" id="event-{{count}}">
  <div class="card-header">
    <div class="flagged">
      {% if start_at %}
        <span class="date" style="color:white;">{{ start_at }}</span>
      {% endif %}
    </div>
    {% if event.ticketed %}
      <div class="ticketed">
        Ticketed Event
      </div>
    {% endif %}
  </div>
  <div class="card-header">
    {% if event.book_category or event.program %}
      <h5>
        {% if event.book_category %}
          {{event.book_category}}
        {% comment %}
        elsif event.program
          capture related_program/programs/{{ event.program }}/endcapture
          assign program = site.programs | where: 'url', related_program
          assign program_title = program[0].title
          {{ program_title }}
         {% endcomment %}
        {% endif %}
      </h5>
    {% endif %}
    {% if event.title  %}
      <h3 class="event_title">
        <a href="{{ event.url }}">{{ event_title }}</a>
      </h3>
    {% endif %}
  </div>

  <div class="card-copy">
    {% comment %}
      looking for events with books. using the book_isbn value
      Using "...size > 0" to capture null values and entries where no field is present
      size, oddly, returns "8" where there is only one isbn (which is 13 digits)
    {% endcomment %}
    {% if event.image_path and event.image_path !='' %}
      <div class="" style="float:left:margin-right:1em;">
        <img class="image-small" src="{{ event.image_path }}" alt="{{ event_title }} image" />
      </div>
    {% endif %}
    {% if related_books_isbn !='' and related_books_isbn.size > 0 %}

      <div style="float:left:margin-right:1em;">
        {% for isbn in related_books_isbn %}
          {% if isbn %}
            {% assign related_books = site.books | where: 'isbn', isbn %}
            {% for book in related_books %}
              {% if book.image_path %}
                <a href="{{ site.shop_domain }}/book/{{ book.isbn }}" target="_blank">
                  <img class="image-cover-small" src="{{ book.image_path }}" alt="{{ book.title }} image_path{{ the_isbn }}" />
                </a>
              {% elsif book.isbn %}
                <a href="{{ site.shop_domain }}/book/{{ book.isbn }}" target="_blank">
                  <img class="image-cover-small" src="{{ site.images_domain }}/{{ book.isbn }}.jpg" alt="{{ object.title }} {{ the_isbn }} image_cdn" />
                </a>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
      {% else %}
    {% endif %}

    {% if event.content %}
      {{ event.content | markdownify }}
    {% endif %}
  </div>

  <div class="card-footer">
    <div class="card-footer-content">
      <div style="float:right;margin-right:1em;">
        {% include events/add-to-calendar.html %}
      </div>
      {% comment %}
        <div class="addthis_sharing_toolbox addthis_default_style "{% if start_at %}addthis:url="{{ site.url }}/events/#event-{{ start_at }}"{% endif %}{% if event.title %} addthis:title="{{ event.title }}"{% endif %}>
        </div>
     {% endcomment %}
    </div>
  </div>
</div>
