<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="paypal" id="paypal_form">

{% comment %} Redirection Pages {% endcomment %}
<input type="hidden" value="{{ site.url }}/thank-you/" name="return" />
<input type="hidden" value="{{ site.url }}/cancel/" name="cancel_return" />

{% comment %} Business identification {% endcomment %}
<input type="hidden" name="business" value="{{ site.paypal_email }}" />

{% comment %} What type of button
 https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/Appx_websitestandard_htmlvariables/#id08A6HF00TZS
{% endcomment %}
<input type="hidden" name="cmd" value="_xclick-subscriptions">

{% comment %} what are we selling {% endcomment %}

<input type="hidden" name="item_name" value="{{ name }}" />
<input type="hidden" name="item_number" value="febc_{{ forloop.index }}" />

{% comment %} no note. "For Subscribe buttons, always set no_note to 1." {% endcomment %}
<input type="hidden" name="no_note" value="1" />

{% comment %} Require an address {% endcomment %}
<input type="hidden" name="no_shipping" value="2" />


{% comment %} Recurring Payments variables https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/Appx_websitestandard_htmlvariables/#id08A6HI00JQU {% endcomment %}
<input type="hidden" name="currency_code" value="USD">
{% if total_price %}
  <input type="hidden" name="a3" value="{{ total_price }}">
{% endif %}
{% if p3_duration %}
  <input type="hidden" name="p3" value="{{ p3_duration }}">
{% endif %}
{% if t3_duration_unit %}
  <input type="hidden" name="t3" value="{{ t3_duration_unit }}">
{% endif %}

{% comment %}  subscription payments recur {% endcomment %}
<input type="hidden" name="src" value="1">

{% comment %} Recurring times. Number of times that subscription payments recur. Specify an integer with a minimum value of 2 and a maximum value of 52. Valid only if you specify src="1". IF YOU DON't Specify, the subscription will continue until canceled.
{% endcomment %}
{% if subscription_recurring_time %}
  <input type="hidden" name="srt" value="{{ subscription_recurring_time }}">
{% endif %}

{% comment %} allows subscribers to sign up for new subscriptions and modify their current subscriptions {% endcomment %}
<input type="hidden" name="modify" value="1">


{% comment %}

EXPERIMENT

<input type="hidden" name="on0" value="Shipping or Pickup">Shipping or Pickup
<select name="os0">
  <option value="Pick up at the Store">Pick up at the Store : $28.95 USD - monthly</option>
  <option value="Ship to your Door">Ship to your Door : $34.95 USD - monthly</option>
</select>

 {% endcomment %}




{% if book_latest.title %}
  <input type="hidden" name="starting_book" value="{{ book_latest.title | slugify }}">
{% endif %}






<button type="submit" type="submit" href="javascript: submitform()" name="amount" value="{{ total_price }}" class="button button-list">{{ name }} - ${{ total_price }}</button>


</form>
